---
openapi: 3.0.3
info:
  title: TMS API
  description: "Documentation on how and when to use the OneLearn TMS API at \n[https://docs.skillable.com](https://lms.learnondemand.net/apidocumentation).\n\n# Introduction\nThis API is documented in **OpenAPI format** and is based on\n[OneLearn TMS](https://lms.learnondemand.net/apidocumentation) provided by [Skillable.com](http://skillable.com) team.\nIt was **extended** to illustrate features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)\ntool and [ReDoc](https://github.com/Redocly/redoc) documentation. In addition to standard\nOpenAPI syntax we use a few [vendor extensions](https://github.com/Redocly/redoc/blob/master/docs/redoc-vendor-extensions.md).\n\n# OpenAPI Specification\nThis API is documented in **OpenAPI format** and is based on\n[OneLearn TMS](https://lms.learnondemand.net/apidocumentation) provided by [Skillable.com](http://skillable.com) team.\nIt was **extended** to illustrate features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)\ntool and [ReDoc](https://github.com/Redocly/redoc) documentation. In addition to standard\nOpenAPI syntax we use a few [vendor extensions](https://github.com/Redocly/redoc/blob/master/docs/redoc-vendor-extensions.md).\n\n# Cross-Origin Resource Sharing\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).\nAnd that allows cross-domain communication from the browser.\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n\n# Authentication\n\nOneLearn TMS offers two forms of authentication:\n  - API Key\n  - OAuth2 - an open protocol to allow secure authorization in a simple\nand standard method from web, mobile and desktop applications.\n\n<SecurityDefinitions />\n"
  termsOfService: https://skillable.com/terms-and-conditions/
  contact:
    name: Skillable Support
    url: https://skillable.com/customer-support/
    email: apiteam@skillable.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.0.0
  x-logo:
    url: https://skillable.com/wp-content/uploads/2021/09/Skillable-Logo-color.svg
    altText: Skillable logo
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: https://github.com/Rebilly/generator-openapi-repo
servers:
- url: https://lms.learnondemand.net/api/2.0
  description: OneLearn TMS API
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: User Management
  description: "The User Management API commands are used to administer all types of user accounts within the TMS.  This includes but is not limited to the following actions:\n* Creating user accounts\n* Search for user accounts    \n* Modify user accounts    \n* Retrieve user accounts properties    \n* Query user activity    \n* Closure and deletion of user accounts"
- name: Organization Management
  description: Organizations within the TMS provide the ability to separate content and access between different customers. For most customers there is little need for Organization Management using the API.  However, for large content providers Organization Management can be vital. The Organization Management of the TMS allows for the query, creation, modification, and deletion of Organizations.
- name: Course Management
  description: Courses in the TMS represent a related set of learning activities that create a single learning journey.  The Course Management API commands allow for the searching of courses, which will be required when creating classes and/or subscriptions as well as being able to return any collected course feedback.
- name: Class Enrollment Management
  description: "Classes represent an instance of a course delivered as an instructor led event.  Class enrollements define the connection of a user and the class the user will be part of.  The Class Enrollment Management API alloows the following tasks to be completed:\n* Create Class Enrollments for a user\n* Update Class Enrollments for a user \n* Search for Class Enrollments for a user\n* Delete Class Enrollments for a user\n* Retrive specific details for Class Enrollemnts"
- name: Course Assignment Management
  description: "Course Assignments are instances of a course being used for self-study purposes, and not connected with an Instructor or a class.  The Course Assignment Management API group of commands allows the following capabilities:  \n* Create Class Enrollments for a user  \n* Update Class Enrollments for a user  \n* Search for Class Enrollments for a user  \n* Delete Class Enrollments for a user  \n* Retrieve  specific details for Classes Enrollemnts  "
- name: Searching
  description: |-
    The Searching API comand group provides commands for the following scenarions:
    * To search the TMS Course Catalog
    * Find Lab Instances (Lab Instances represent individual Lab launches against the LOD platform)
    * Search  for launched activitives external to LOD e.g. Video, documents, SCORM, etc
- name: Subscription Management
  description: "Subscriptions (previously known as Clubs), are mostly used for the assignment of self-study learning.  The Subscription Management section allows the creation and management of these subscription assignmenst to users.  The functions are grouped into the areas of:  \n* Creations of Subscriptions  \n* Searching for Subscriptions   \n* Modify a Subscriptions  \n* Delete a Subscriptions "
- name: Company Management
  description: Company Management within the Skillable TMS allows for the registration of companies that are the customers of a Skillable TMS customer.  The use of this object type is to enable a Skillable TMS customer to store contact information for their customers.  This information can then be connected to users of the TMS and allows reports to be run which return activity of users from a specific customer.  The API allows for the creation, modification, updating and searching of companies.
- name: Survey Management
  description: Survey Management allows the retrival of all survey responses for a specific course.
- name: Class Management
  description: The Class Management group of API command allows for the creation, management and finding of scheduled classes within the Skillable TMS.  Classes can be found by using Class ID's as well as the training key associated with a class
paths:
  /GetUser/{id}:
    get:
      tags:
      - User Management
      summary: GetUser
      description: Allows you to get information about a user (user object) with the given ID.
      operationId: GetUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the user to retrieve
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /GetUserByEmail:
    get:
      tags:
      - User Management
      summary: GetUserByEmail
      description: Allows you to get information about a user with the given primary email address.
      operationId: GetUserByEmail
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: email
        in: query
        description: The primary email address of the user to retrieve.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /GetUserByExternalId/{id}:
    get:
      tags:
      - User Management
      summary: GetUserByExternalId
      description: Allows you to get information about a user with the given ExternalID.  The external ID is a unique identifier from your external system.
      operationId: GetUserByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The external ID of the user to retrieve.
        required: true
        style: simple
        explode: true
        schema:
          type: string
          example: C9876ZFGEFER9876
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /CreateUser:
    get:
      tags:
      - User Management
      summary: CreateUser
      description: Allows you to create a user.
      operationId: CreateUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userName
        in: query
        description: 'The user''s username (used during sign-in). Email address can be used as long as it is unique within the system. Note: even if the user will be using an external authentication provider, the username/password properties should still be provided.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: john.smith
      - name: password
        in: query
        description: 'The user''s password (used during sign-in). Note: even if the user will be using an external authentication provider, the username/password properties should still be provided. The user will be prompted to reset their password on the next signin.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: The user's e-mail address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: firstName
        in: query
        description: The user's first name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: lastName
        in: query
        description: The user's last name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: organizationId
        in: query
        description: The unique identifier of the organization the user belongs to. This can be the organization that corresponds to your API key, or a child organization.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: externalId
        in: query
        description: The user's external ID, usually a unique identifier from the calling system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: middleName
        in: query
        description: The user's middle name
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: title
        in: query
        description: The user's title.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: companyId
        in: query
        description: The Id of the user's company (set only if the user belongs to a company).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: managerId
        in: query
        description: The user Id of the user's manager (set only if the user belongs to a manager).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: disabled
        in: query
        description: Indicates whether the user account has been disabled.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: phone
        in: query
        description: The user's phone number.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phone2
        in: query
        description: The user's secondary phone number.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: address1
        in: query
        description: First line of the user's address.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: address2
        in: query
        description: Second line of the user's address
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: city
        in: query
        description: The user's city.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: state
        in: query
        description: The user's state.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: The user's country.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zip
        in: query
        description: The user's zip/postal code.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: profileImageUrl
        in: query
        description: URL to the user's profile image.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timeZoneId
        in: query
        description: "The time zone for the data object. If not specified, the timezone of the organization will be used.  \n\n**Allowed values**  \n  \nAfghanistan Standard Time  \nAlaskan Standard Time  \nAleutian Standard Time  \nAltai Standard Time  \nArab Standard Time  \nArabian Standard Time  \nArabic Standard Time  \nArgentina Standard Time  \nAstrakhan Standard Time  \nAtlantic Standard Time  \nAUS Central Standard Time  \nAus Central W. Standard Time  \nAUS Eastern Standard Time  \nAzerbaijan Standard Time  \nAzores Standard Time  \nBahia Standard Time  \nBangladesh Standard Time  \nBelarus Standard Time  \nBougainville Standard Time  \nCanada Central Standard Time  \nCape Verde Standard Time  \nCaucasus Standard Time  \nCen. Australia Standard Time  \nCentral America Standard Time  \nCentral Asia Standard Time  \nCentral Brazilian Standard Time  \nCentral Europe Standard Time  \nCentral European Standard Time  \nCentral Pacific Standard Time  \nCentral Standard Time  \nCentral Standard Time (Mexico)  \nChatham Islands Standard Time  \nChina Standard Time  \nCuba Standard Time  \nDateline Standard Time  \nE. Africa Standard Time  \nE. Australia Standard Time  \nE. Europe Standard Time  \nE. South America Standard Time  \nEaster Island Standard Time  \nEastern Standard Time  \nEastern Standard Time (Mexico)  \nEgypt Standard Time  \nEkaterinburg Standard Time  \nFiji Standard Time  \nFLE Standard Time  \nGeorgian Standard Time  \nGMT Standard Time  \nGreenland Standard Time  \nGreenwich Standard Time  \nGTB Standard Time  \nHaiti Standard Time  \nHawaiian Standard Time  \nIndia Standard Time  \nIran Standard Time  \nIsrael Standard Time  \nJordan Standard Time  \nKaliningrad Standard Time  \nKamchatka Standard Time  \nKorea Standard Time  \nLibya Standard Time  \nLine Islands Standard Time  \nLord Howe Standard Time  \nMagadan Standard Time  \nMagallanes Standard Time  \nMarquesas Standard Time  \nMauritius Standard Time  \nMid-Atlantic Standard Time  \nMiddle East Standard Time  \nMontevideo Standard Time  \nMorocco Standard Time  \nMountain Standard Time  \nMountain Standard Time (Mexico)  \nMyanmar Standard Time  \nN. Central Asia Standard Time  \nNamibia Standard Time  \nNepal Standard Time  \nNew Zealand Standard Time  \nNewfoundland Standard Time  \nNorfolk Standard Time  \nNorth Asia East Standard Time  \nNorth Asia Standard Time  \nNorth Korea Standard Time  \nOmsk Standard Time  \nPacific SA Standard Time  \nPacific Standard Time  \nPacific Standard Time (Mexico)  \nPakistan Standard Time  \nParaguay Standard Time  \nQyzylorda Standard Time  \nRomance Standard Time  \nRussia Time Zone 10  \nRussia Time Zone 11  \nRussia Time Zone 3  \nRussian Standard Time  \nSA Eastern Standard Time  \nSA Pacific Standard Time  \nSA Western Standard Time  \nSaint Pierre Standard Time  \nSakhalin Standard Time  \nSamoa Standard Time  \nSao Tome Standard Time  \nSaratov Standard Time  \nSE Asia Standard Time  \nSingapore Standard Time  \nSouth Africa Standard Time  \nSouth Sudan Standard Time  \nSri Lanka Standard Time  \nSudan Standard Time  \nSyria Standard Time  \nTaipei Standard Time  \nTasmania Standard Time  \nTocantins Standard Time  \nTokyo Standard Time  \nTomsk Standard Time  \nTonga Standard Time  \nTransbaikal Standard Time  \nTurkey Standard Time  \nTurks And Caicos Standard Time  \nUlaanbaatar Standard Time  \nUS Eastern Standard Time  \nUS Mountain Standard Time  \nUTC  \nUTC+12  \nUTC+13  \nUTC-02  \nUTC-08  \nUTC-09  \nUTC-11  \nVenezuela Standard Time  \nVladivostok Standard Time  \nVolgograd Standard Time  \nW. Australia Standard Time  \nW. Central Africa Standard Time  \nW. Europe Standard Time  \nW. Mongolia Standard Time  \nWest Asia Standard Time  \nWest Bank Standard Time  \nWest Pacific Standard Time  \nYakutsk Standard Time  \nYukon Standard Time"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: roleId
        in: query
        description: 'An identifier for the role the user should belong to. You can provide multiple instances of this parameter to add the user to multiple roles. For example: roleId=0&roleId=2&roleId=20. You can discover roles available to your API integration by using the GetUserRoles command.'
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: managedOrganizationId
        in: query
        description: 'An identifier for the organization the user should have management rights for. You can provide multiple instances of this parameter if the user should have management rights over multiple organizations. For example: managedOrganizationId=30&managedOrganizationId=45&managedOrganizationId=78. All managed organizations must the API caller organization or one of its children.'
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: forcePasswordChange
        in: query
        description: An optional parameter to force the user to change their password on the next login
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
      deprecated: false
  /DeleteUser/{id}:
    get:
      tags:
      - User Management
      summary: DeleteUser
      description: Allows you to delete a user.
      operationId: DeleteUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The user's ID
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /UpdateUser:
    get:
      tags:
      - User Management
      summary: UpdateUser
      description: Allows you to update a user
      operationId: UpdateUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        description: The user's LMS unique identifier.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 4873
      - name: userName
        in: query
        description: 'The user''s username (used during sign-in). Email address can be used as long as it is unique within the system. Note: even if the user will be using an external authentication provider, the username/password properties should still be provided.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: The user's e-mail address
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: firstName
        in: query
        description: The user's first name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: lastName
        in: query
        description: The user's last name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: organizationId
        in: query
        description: The unique identifier of the organization the user belongs to. This can be the organization that corresponds to your API key, or a child organization.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: externalId
        in: query
        description: The user's external ID, usually a unique identifier from the calling system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: middleName
        in: query
        description: The user's middle name
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: title
        in: query
        description: The user's title.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: companyId
        in: query
        description: The Id of the user's company (set only if the user belongs to a company).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: managerId
        in: query
        description: The user Id of the user's manager (set only if the user belongs to a manager).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 12345678
      - name: disabled
        in: query
        description: Indicates whether the user account has been disabled.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: phone
        in: query
        description: The user's phone number.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phone2
        in: query
        description: The user's secondary phone number.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: address1
        in: query
        description: First line of the user's address.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: address2
        in: query
        description: Second line of the user's address
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: city
        in: query
        description: The user's city.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: state
        in: query
        description: The user's state.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: The user's country.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zip
        in: query
        description: The user's zip/postal code.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: profileImageUrl
        in: query
        description: URL to the user's profile image.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: timeZoneId
        in: query
        description: "The user's time zone. If not specified, the timezone of the organization will be used.  \n\n**Allowed values**  \n  \nAfghanistan Standard Time  \nAlaskan Standard Time  \nAleutian Standard Time  \nAltai Standard Time  \nArab Standard Time  \nArabian Standard Time  \nArabic Standard Time  \nArgentina Standard Time  \nAstrakhan Standard Time  \nAtlantic Standard Time  \nAUS Central Standard Time  \nAus Central W. Standard Time  \nAUS Eastern Standard Time  \nAzerbaijan Standard Time  \nAzores Standard Time  \nBahia Standard Time  \nBangladesh Standard Time  \nBelarus Standard Time  \nBougainville Standard Time  \nCanada Central Standard Time  \nCape Verde Standard Time  \nCaucasus Standard Time  \nCen. Australia Standard Time  \nCentral America Standard Time  \nCentral Asia Standard Time  \nCentral Brazilian Standard Time  \nCentral Europe Standard Time  \nCentral European Standard Time  \nCentral Pacific Standard Time  \nCentral Standard Time  \nCentral Standard Time (Mexico)  \nChatham Islands Standard Time  \nChina Standard Time  \nCuba Standard Time  \nDateline Standard Time  \nE. Africa Standard Time  \nE. Australia Standard Time  \nE. Europe Standard Time  \nE. South America Standard Time  \nEaster Island Standard Time  \nEastern Standard Time  \nEastern Standard Time (Mexico)  \nEgypt Standard Time  \nEkaterinburg Standard Time  \nFiji Standard Time  \nFLE Standard Time  \nGeorgian Standard Time  \nGMT Standard Time  \nGreenland Standard Time  \nGreenwich Standard Time  \nGTB Standard Time  \nHaiti Standard Time  \nHawaiian Standard Time  \nIndia Standard Time  \nIran Standard Time  \nIsrael Standard Time  \nJordan Standard Time  \nKaliningrad Standard Time  \nKamchatka Standard Time  \nKorea Standard Time  \nLibya Standard Time  \nLine Islands Standard Time  \nLord Howe Standard Time  \nMagadan Standard Time  \nMagallanes Standard Time  \nMarquesas Standard Time  \nMauritius Standard Time  \nMid-Atlantic Standard Time  \nMiddle East Standard Time  \nMontevideo Standard Time  \nMorocco Standard Time  \nMountain Standard Time  \nMountain Standard Time (Mexico)  \nMyanmar Standard Time  \nN. Central Asia Standard Time  \nNamibia Standard Time  \nNepal Standard Time  \nNew Zealand Standard Time  \nNewfoundland Standard Time  \nNorfolk Standard Time  \nNorth Asia East Standard Time  \nNorth Asia Standard Time  \nNorth Korea Standard Time  \nOmsk Standard Time  \nPacific SA Standard Time  \nPacific Standard Time  \nPacific Standard Time (Mexico)  \nPakistan Standard Time  \nParaguay Standard Time  \nQyzylorda Standard Time  \nRomance Standard Time  \nRussia Time Zone 10  \nRussia Time Zone 11  \nRussia Time Zone 3  \nRussian Standard Time  \nSA Eastern Standard Time  \nSA Pacific Standard Time  \nSA Western Standard Time  \nSaint Pierre Standard Time  \nSakhalin Standard Time  \nSamoa Standard Time  \nSao Tome Standard Time  \nSaratov Standard Time  \nSE Asia Standard Time  \nSingapore Standard Time  \nSouth Africa Standard Time  \nSouth Sudan Standard Time  \nSri Lanka Standard Time  \nSudan Standard Time  \nSyria Standard Time  \nTaipei Standard Time  \nTasmania Standard Time  \nTocantins Standard Time  \nTokyo Standard Time  \nTomsk Standard Time  \nTonga Standard Time  \nTransbaikal Standard Time  \nTurkey Standard Time  \nTurks And Caicos Standard Time  \nUlaanbaatar Standard Time  \nUS Eastern Standard Time  \nUS Mountain Standard Time  \nUTC  \nUTC+12  \nUTC+13  \nUTC-02  \nUTC-08  \nUTC-09  \nUTC-11  \nVenezuela Standard Time  \nVladivostok Standard Time  \nVolgograd Standard Time  \nW. Australia Standard Time  \nW. Central Africa Standard Time  \nW. Europe Standard Time  \nW. Mongolia Standard Time  \nWest Asia Standard Time  \nWest Bank Standard Time  \nWest Pacific Standard Time  \nYakutsk Standard Time  \nYukon Standard Time  \n"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: forcePasswordChange
        in: query
        description: An optional parameter to force the user to change their password on the next login
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddUserToRole:
    get:
      tags:
      - User Management
      summary: AddUserToRole
      description: Allows you to add a user to a role
      operationId: AddUserToRole
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: roleId
        in: query
        description: The role ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddUserToRoles:
    get:
      tags:
      - User Management
      summary: AddUserToRoles
      description: Allows you to add a user to multiple roles
      operationId: AddUserToRoles
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: roleId
        in: query
        description: 'An identifier for the role the user should belong to. You can provide multiple instances of this parameter to add the user to multiple roles. For example: roleId=0&roleId=2&roleId=20. You can discover roles available to your API integration by using the GetUserRoles command.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /RemoveUserFromRole:
    get:
      tags:
      - User Management
      summary: RemoveUserFromRole
      description: Allows you remove a user from a role
      operationId: RemoveUserFromRole
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: roleId
        in: query
        description: The role ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddOrganizationManagementToUser:
    get:
      tags:
      - User Management
      summary: AddOrganizationManagementToUser
      description: Allows you to assign management rights over an organization to a single user
      operationId: AddOrganizationManagementToUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: organizationId
        in: query
        description: The organization ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /RemoveOrganizationManagementFromUser:
    get:
      tags:
      - User Management
      summary: RemoveOrganizationManagementFromUser
      description: Allows you remove management rights over an organization from a single user
      operationId: RemoveOrganizationManagementFromUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: organizationId
        in: query
        description: The organization ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /UpdateUserPassword:
    get:
      tags:
      - User Management
      summary: UpdateUserPassword
      description: Allows you to update a user's password.
      operationId: UpdateUserPassword
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        description: The user's ID
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: password
        in: query
        description: The new password
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: forcePasswordChange
        in: query
        description: An optional parameter to force the user to change their password on the next login
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /GetSsoRedirectUrl:
    get:
      tags:
      - User Management
      summary: GetSsoRedirectUrl
      description: 'Allows you to retrieve a URL for redirecting a user into the the LMS for single sign-on. This allows you to land the student in the LMS without them having to login. Note: the URL is valid for only 20 seconds. The intention is for you to obtain the URL on demand when the user is to be redirected into the LMS from your system.'
      operationId: GetSsoRedirectUrl
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: query
        description: The user's LMS unique identifier
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: destinationUrl
        in: query
        description: An optional URL that you want the user to land on within the LMS. For instance, if you wanted to land the user on the class schedule, you could pass a value of "/Class/Schedule." Use of this feature requires some knowledge of the LMS URL schema. In general, you can figure out how URLs work by observing them while navigating within the LMS.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoRedirectUrlReponse'
      deprecated: false
  /SearchSignInHistory:
    get:
      tags:
      - User Management
      summary: SearchSignInHistory
      description: Allows you to search for user sign
      operationId: SearchSignInHistory
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageIndex
        in: query
        description: A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: pageSize
        in: query
        description: Indicates how many results you want per page. if not supplied, a default value of 100 is used.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: sort
        in: query
        description: "The value you want to sort by. If not supplied, a default value of \"SignIn DESC\" will be assumed. You can append \" DESC\" after the sort value to sort descending. For example, \"SignIn DESC\" would sort by sign-in time in descending order. Possible values: \n- SignIn \n- LastName \n- FirstName \n- UserName \n- Email"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: query
        description: An optional parameter user to filter for sign-ins for a particular user.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: userExternalId
        in: query
        description: An optional parameter used to filter for sign-ins for a particular user using an external identifier.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 1G87491-37DE-DFG1-127A-565159915A6B
      - name: after
        in: query
        description: An optional parameter used to filter for sign-ins that occured after a specified date. When used in conjunction with the "before" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        description: An optional parameter used to filter for sign-ins that occured before a specified date. When used in conjunction with the "after" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInHistorySearchHistoryResponse'
      deprecated: false
  /SearchUserActivity:
    get:
      tags:
      - User Management
      summary: SearchUserActivity
      description: Allows you to search for user activity.
      operationId: SearchUserActivity
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageIndex
        in: query
        description: A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: pageSize
        in: query
        description: Indicates how many results you want per page. if not supplied, a default value of 100 is used.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: sort
        in: query
        description: "The value you want to sort by. If not supplied, a default value of \"SignIn DESC\" will be assumed. You can append \" DESC\" after the sort value to sort descending. For example, \"SignIn DESC\" would sort by sign-in time in descending order. Possible values: \n- RequestTime \n- LastName \n- UserName \n- Organization"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: query
        description: An optional parameter user to filter for activity for a particular user
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: userExternalId
        in: query
        description: An optional parameter used to filter for activity for a particular user using an external identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 1G87491-37DE-DFG1-127A-565159915A6B
      - name: activityAfter
        in: query
        description: An optional parameter used to filter for sign-ins that occured after a specified date
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: activityBefore
        in: query
        description: An optional parameter used to filter for sign-ins that occured before a specified date
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserActivityResponse'
      deprecated: false
  /GetActiveSystemAnnouncements:
    get:
      tags:
      - User Management
      summary: GetActiveSystemAnnouncements
      description: Allows you to retreive active system announcements.
      operationId: GetActiveSystemAnnouncements
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: organizationId
        in: query
        description: The ID of the organization for which you would like to retrieve system announcements
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 4536
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementResponse'
      deprecated: false
  /CloseUserAccountById/{id}:
    get:
      tags:
      - User Management
      summary: CloseUserAccountById
      description: Allows you close a user account removing all identifying information from the system.
      operationId: CloseUserAccountById
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the user to retrieve
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int64
          example: 3453
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  /CloseUserAccountByExternalId/{id}:
    get:
      tags:
      - User Management
      summary: CloseUserAccountByExternalId
      description: Allows you close a user account removing all identifying information from the system by providing a unique identifier from your external system.
      operationId: CloseUserAccountByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The external ID of the user whose account to close
        required: true
        style: simple
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  /DeleteUserDataById/{id}:
    get:
      tags:
      - User Management
      summary: DeleteUserDataById
      description: Allows you remove specific types of user data for a user in the system.
      operationId: DeleteUserDataById
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the user to delete data of
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      - name: dataTypeId
        in: query
        description: "The ID of the data type to delete. \n- Account = 0 \n- MicrosoftCommunications = 1 \n- PaymentInstrument = 2 \n- PreciseUserLocation = 3 \n- ProductAndServicePerformance = 4 \n- ProductAndServiceUsage = 5 \n- ProfessionalAndPersonalProfile = 6 \n- PublicPersonal = 7 \n- Recruitment = 8 \n- SearchRequestsAndQuery = 9 \n- SoftwareSetupAndInventory = 10 \n- Support = 11 \n- SupportContent = 12 \n- SupportInteraction = 13 \n- WorkContracts = 14 \n- WorkplaceInteractions = 15 \n- WorkProfile = 16 \n- LicensingAndPurchase = 17 \n- LearningAndDevelopment = 18 \n- InterestsAndFavorites = 19 \n- InkingTypingAndSpeechUtterance = 20 \n- Any = 21 \n- BrowsingHistory = 22 \n- CloudServiceProvider = 23 \n- CommuteAndTravel = 24 \n- CompensationAndBenefits = 25 \n- ContentConsumption = 26 \n- Credentials = 27 \n- CustomerContact = 28 \n- WorkRecognition = 29 \n- CustomerContactList = 30 \n- DemographicInformation = 31 \n- DeviceConnectivityAndConfiguration = 32 \n- EnvironmentalSensor = 33 \n- EUII = 34 \n- FeedbackAndRatings = 35 \n- FinancialAccountingAndRecords = 36 \n- FinancialTransactions = 37 \n- FitnessAndActivity = 38 \n- CustomerContent = 39 \n- WorkTime = 40 \n- Social = 41"
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  /DeleteUserDataByExternalId/{id}:
    get:
      tags:
      - User Management
      summary: DeleteUserDataByExternalId
      description: Allows you remove specific types of user data for a user in the system by providing a unique identifier from your external system.
      operationId: DeleteUserDataByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The external ID of the user to delete data
        required: true
        style: simple
        explode: true
        schema:
          type: string
      - name: dataTypeId
        in: query
        description: "The ID of the data type to delete. \n- Account = 0 \n- MicrosoftCommunications = 1 \n- PaymentInstrument = 2 \n- PreciseUserLocation = 3 \n- ProductAndServicePerformance = 4 \n- ProductAndServiceUsage = 5 \n- ProfessionalAndPersonalProfile = 6 \n- PublicPersonal = 7 \n- Recruitment = 8 \n- SearchRequestsAndQuery = 9 \n- SoftwareSetupAndInventory = 10 \n- Support = 11 \n- SupportContent = 12 \n- SupportInteraction = 13 \n- WorkContracts = 14 \n- WorkplaceInteractions = 15 \n- WorkProfile = 16 \n- LicensingAndPurchase = 17 \n- LearningAndDevelopment = 18 \n- InterestsAndFavorites = 19 \n- InkingTypingAndSpeechUtterance = 20 \n- Any = 21 \n- BrowsingHistory = 22 \n- CloudServiceProvider = 23 \n- CommuteAndTravel = 24 \n- CompensationAndBenefits = 25 \n- ContentConsumption = 26 \n- Credentials = 27 \n- CustomerContact = 28 \n- WorkRecognition = 29 \n- CustomerContactList = 30 \n- DemographicInformation = 31 \n- DeviceConnectivityAndConfiguration = 32 \n- EnvironmentalSensor = 33 \n- EUII = 34 \n- FeedbackAndRatings = 35 \n- FinancialAccountingAndRecords = 36 \n- FinancialTransactions = 37 \n- FitnessAndActivity = 38 \n- CustomerContent = 39 \n- WorkTime = 40 \n- Social = 41"
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  /GetUserRoles:
    get:
      tags:
      - User Management
      summary: GetUserRoles
      description: Allows you to view all user roles available to your API integration.
      operationId: GetUserRoles
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoleResponse'
      deprecated: false
  /UpdateUserCustomFieldValue:
    get:
      tags:
      - User Management
      summary: UpdateUserCustomFieldValue
      description: Updates the current value of a specific custom field for a user.
      operationId: UpdateUserCustomFieldValue
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customFieldId
        in: query
        description: The ID of the custom field for which the value will be updated.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 4873
      - name: userId
        in: query
        description: The ID of the user for which the custom field value will be updated.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 57383
      - name: textValue
        in: query
        description: The value of a text type user custom field - Textbox and Dropdown List
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: booleanValue
        in: query
        description: The value for a boolean type user custom field - Checkbox
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: separatedListValues
        in: query
        description: A Tab separated list of all the text values for a multi-select custom field type - Checkbox List
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldValueResponse'
      deprecated: false
  /GetOrganization/{id}:
    get:
      tags:
      - Organization Management
      summary: GetOrganization
      description: Allows you to get information about an organization.
      operationId: GetOrganization
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the organization to retrieve
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      deprecated: false
  /GetOrganizationByExternalId/{id}:
    get:
      tags:
      - Organization Management
      summary: GetOrganizationByExternalId
      description: Allows you to get information about an organization by providing a unique identifier from your external system.
      operationId: GetOrganizationByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The external ID of the organization to retrieve.
        required: true
        style: simple
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      deprecated: false
  /CreateOrganization:
    get:
      tags:
      - Organization Management
      summary: CreateOrganization
      description: Allows you to create an organization.
      operationId: CreateOrganization
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: name
        in: query
        description: The organization's name
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: externalId
        in: query
        description: The organization's external ID, usually a unique identifier from the calling system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: description
        in: query
        description: An optional description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parentId
        in: query
        description: The ID of the organization's parent organization. If not supplied, the organization will become a direct child of the API organization.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      - name: timeZoneId
        in: query
        description: "The time zone for the data object. If not specified, the timezone of the organization will be used.  \n\n**Allowed values**  \n  \nAfghanistan Standard Time  \nAlaskan Standard Time  \nAleutian Standard Time  \nAltai Standard Time  \nArab Standard Time  \nArabian Standard Time  \nArabic Standard Time  \nArgentina Standard Time  \nAstrakhan Standard Time  \nAtlantic Standard Time  \nAUS Central Standard Time  \nAus Central W. Standard Time  \nAUS Eastern Standard Time  \nAzerbaijan Standard Time  \nAzores Standard Time  \nBahia Standard Time  \nBangladesh Standard Time  \nBelarus Standard Time  \nBougainville Standard Time  \nCanada Central Standard Time  \nCape Verde Standard Time  \nCaucasus Standard Time  \nCen. Australia Standard Time  \nCentral America Standard Time  \nCentral Asia Standard Time  \nCentral Brazilian Standard Time  \nCentral Europe Standard Time  \nCentral European Standard Time  \nCentral Pacific Standard Time  \nCentral Standard Time  \nCentral Standard Time (Mexico)  \nChatham Islands Standard Time  \nChina Standard Time  \nCuba Standard Time  \nDateline Standard Time  \nE. Africa Standard Time  \nE. Australia Standard Time  \nE. Europe Standard Time  \nE. South America Standard Time  \nEaster Island Standard Time  \nEastern Standard Time  \nEastern Standard Time (Mexico)  \nEgypt Standard Time  \nEkaterinburg Standard Time  \nFiji Standard Time  \nFLE Standard Time  \nGeorgian Standard Time  \nGMT Standard Time  \nGreenland Standard Time  \nGreenwich Standard Time  \nGTB Standard Time  \nHaiti Standard Time  \nHawaiian Standard Time  \nIndia Standard Time  \nIran Standard Time  \nIsrael Standard Time  \nJordan Standard Time  \nKaliningrad Standard Time  \nKamchatka Standard Time  \nKorea Standard Time  \nLibya Standard Time  \nLine Islands Standard Time  \nLord Howe Standard Time  \nMagadan Standard Time  \nMagallanes Standard Time  \nMarquesas Standard Time  \nMauritius Standard Time  \nMid-Atlantic Standard Time  \nMiddle East Standard Time  \nMontevideo Standard Time  \nMorocco Standard Time  \nMountain Standard Time  \nMountain Standard Time (Mexico)  \nMyanmar Standard Time  \nN. Central Asia Standard Time  \nNamibia Standard Time  \nNepal Standard Time  \nNew Zealand Standard Time  \nNewfoundland Standard Time  \nNorfolk Standard Time  \nNorth Asia East Standard Time  \nNorth Asia Standard Time  \nNorth Korea Standard Time  \nOmsk Standard Time  \nPacific SA Standard Time  \nPacific Standard Time  \nPacific Standard Time (Mexico)  \nPakistan Standard Time  \nParaguay Standard Time  \nQyzylorda Standard Time  \nRomance Standard Time  \nRussia Time Zone 10  \nRussia Time Zone 11  \nRussia Time Zone 3  \nRussian Standard Time  \nSA Eastern Standard Time  \nSA Pacific Standard Time  \nSA Western Standard Time  \nSaint Pierre Standard Time  \nSakhalin Standard Time  \nSamoa Standard Time  \nSao Tome Standard Time  \nSaratov Standard Time  \nSE Asia Standard Time  \nSingapore Standard Time  \nSouth Africa Standard Time  \nSouth Sudan Standard Time  \nSri Lanka Standard Time  \nSudan Standard Time  \nSyria Standard Time  \nTaipei Standard Time  \nTasmania Standard Time  \nTocantins Standard Time  \nTokyo Standard Time  \nTomsk Standard Time  \nTonga Standard Time  \nTransbaikal Standard Time  \nTurkey Standard Time  \nTurks And Caicos Standard Time  \nUlaanbaatar Standard Time  \nUS Eastern Standard Time  \nUS Mountain Standard Time  \nUTC  \nUTC+12  \nUTC+13  \nUTC-02  \nUTC-08  \nUTC-09  \nUTC-11  \nVenezuela Standard Time  \nVladivostok Standard Time  \nVolgograd Standard Time  \nW. Australia Standard Time  \nW. Central Africa Standard Time  \nW. Europe Standard Time  \nW. Mongolia Standard Time  \nWest Asia Standard Time  \nWest Bank Standard Time  \nWest Pacific Standard Time  \nYakutsk Standard Time  \nYukon Standard Time"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: culture
        in: query
        description: "The default language/culture setting. This is used as a default when creating new users and events. If not specified, the culture of the parent organization will be used. \n\n Allowed Values \n\n \n- aa-DJ \n- aa-ER \n- aa-ET \n- af-NA \n- af-ZA \n- agq-CM \n- ak-GH \n- am-ET \n- ar-001 \n- ar-AE \n- ar-BH \n- ar-DJ \n- ar-DZ \n- ar-EG \n- ar-ER \n- ar-IL \n- ar-IQ \n- ar-JO \n- ar-KM \n- ar-KW \n- ar-LB \n- ar-LY \n- ar-MA \n- ar-MR \n- arn-CL \n- ar-OM \n- ar-PS \n- ar-QA \n- ar-SA \n- ar-SD \n- ar-SO \n- ar-SS \n- ar-SY \n- ar-TD \n- ar-TN \n- ar-YE \n- asa-TZ \n- as-IN \n- ast-ES \n- az-Cyrl-AZ \n- az-Latn-AZ \n- ba-RU \n- bas-CM \n- be-BY \n- bem-ZM \n- bez-TZ \n- bg-BG \n- bin-NG \n- bm-Latn-ML \n- bn-BD \n- bn-IN \n- bo-CN \n- bo-IN \n- br-FR \n- brx-IN \n- bs-Cyrl-BA \n- bs-Latn-BA \n- byn-ER \n- ca-AD \n- ca-ES \n- ca-ES-valencia \n- ca-FR \n- ca-IT \n- ce-RU \n- cgg-UG \n- chr-Cher-US \n- co-FR \n- cs-CZ \n- cu-RU \n- cy-GB \n- da-DK \n- da-GL \n- dav-KE \n- de-AT \n- de-BE \n- de-CH \n- de-DE \n- de-LI \n- de-LU \n- dje-NE \n- dsb-DE \n- dua-CM \n- dv-MV \n- dyo-SN \n- dz-BT \n- ebu-KE \n- ee-GH \n- ee-TG \n- el-CY \n- el-GR \n- en-001 \n- en-029 \n- en-150 \n- en-AG \n- en-AI \n- en-AS \n- en-AT \n- en-AU \n- en-BB \n- en-BE \n- en-BI \n- en-BM \n- en-BS \n- en-BW \n- en-BZ \n- en-CA \n- en-CC \n- en-CH \n- en-CK \n- en-CM \n- en-CX \n- en-CY \n- en-DE \n- en-DK \n- en-DM \n- en-ER \n- en-FI \n- en-FJ \n- en-FK \n- en-FM \n- en-GB \n- en-GD \n- en-GG \n- en-GH \n- en-GI \n- en-GM \n- en-GU \n- en-GY \n- en-HK \n- en-ID \n- en-IE \n- en-IL \n- en-IM \n- en-IN \n- en-IO \n- en-JE \n- en-JM \n- en-KE \n- en-KI \n- en-KN \n- en-KY \n- en-LC \n- en-LR \n- en-LS \n- en-MG \n- en-MH \n- en-MO \n- en-MP \n- en-MS \n- en-MT \n- en-MU \n- en-MW \n- en-MY \n- en-NA \n- en-NF \n- en-NG \n- en-NL \n- en-NR \n- en-NU \n- en-NZ \n- en-PG \n- en-PH \n- en-PK \n- en-PN \n- en-PR \n- en-PW \n- en-RW \n- en-SB \n- en-SC \n- en-SD \n- en-SE \n- en-SG \n- en-SH \n- en-SI \n- en-SL \n- en-SS \n- en-SX \n- en-SZ \n- en-TC \n- en-TK \n- en-TO \n- en-TT \n- en-TV \n- en-TZ \n- en-UG \n- en-UM \n- en-US \n- en-VC \n- en-VG \n- en-VI \n- en-VU \n- en-WS \n- en-ZA \n- en-ZM \n- en-ZW \n- eo-001 \n- es-419 \n- es-AR \n- es-BO \n- es-CL \n- es-CO \n- es-CR \n- es-CU \n- es-DO \n- es-EC \n- es-ES \n- es-GQ \n- es-GT \n- es-HN \n- es-MX \n- es-NI \n- es-PA \n- es-PE \n- es-PH \n- es-PR \n- es-PY \n- es-SV \n- es-US \n- es-UY \n- es-VE \n- et-EE \n- eu-ES \n- ewo-CM \n- fa-IR \n- ff-CM \n- ff-GN \n- ff-Latn-SN \n- ff-MR \n- ff-NG \n- fi-FI \n- fil-PH \n- fo-DK \n- fo-FO \n- fr-029 \n- fr-BE \n- fr-BF \n- fr-BI \n- fr-BJ \n- fr-BL \n- fr-CA \n- fr-CD \n- fr-CF \n- fr-CG \n- fr-CH \n- fr-CI \n- fr-CM \n- fr-DJ \n- fr-DZ \n- fr-FR \n- fr-GA \n- fr-GF \n- fr-GN \n- fr-GP \n- fr-GQ \n- fr-HT \n- fr-KM \n- fr-LU \n- fr-MA \n- fr-MC \n- fr-MF \n- fr-MG \n- fr-ML \n- fr-MQ \n- fr-MR \n- fr-MU \n- fr-NC \n- fr-NE \n- fr-PF \n- fr-PM \n- fr-RE \n- fr-RW \n- fr-SC \n- fr-SN \n- fr-SY \n- fr-TD \n- fr-TG \n- fr-TN \n- fr-VU \n- fr-WF \n- fr-YT \n- fur-IT \n- fy-NL \n- ga-IE \n- gd-GB \n- gl-ES \n- gn-PY \n- gsw-CH \n- gsw-FR \n- gsw-LI \n- gu-IN \n- guz-KE \n- gv-IM \n- ha-Latn-GH \n- ha-Latn-NE \n- ha-Latn-NG \n- haw-US \n- he-IL \n- hi-IN \n- hr-BA \n- hr-HR \n- hsb-DE \n- hu-HU \n- hy-AM \n- ia-001 \n- ia-FR \n- ibb-NG \n- id-ID \n- ig-NG \n- ii-CN \n- is-IS \n- it-CH \n- it-IT \n- it-SM \n- iu-Cans-CA \n- iu-Latn-CA \n- ja-JP \n- jgo-CM \n- jmc-TZ \n- jv-Java-ID \n- jv-Latn-ID \n- kab-DZ \n- ka-GE \n- kam-KE \n- kde-TZ \n- kea-CV \n- khq-ML \n- ki-KE \n- kkj-CM \n- kk-KZ \n- kl-GL \n- kln-KE \n- km-KH \n- kn-IN \n- kok-IN \n- ko-KP \n- ko-KR \n- kr-NG \n- ks-Arab-IN \n- ksb-TZ \n- ks-Deva-IN \n- ksf-CM \n- ksh-DE \n- ku-Arab-IQ \n- ku-Arab-IR \n- kw-GB \n- ky-KG \n- la-001 \n- lag-TZ \n- lb-LU \n- lg-UG \n- lkt-US \n- ln-AO \n- ln-CD \n- ln-CF \n- ln-CG \n- lo-LA \n- lrc-IQ \n- lrc-IR \n- lt-LT \n- lu-CD \n- luo-KE \n- luy-KE \n- lv-LV \n- mas-KE \n- mas-TZ \n- mer-KE \n- mfe-MU \n- mgh-MZ \n- mg-MG \n- mgo-CM \n- mi-NZ \n- mk-MK \n- ml-IN \n- mni-IN \n- mn-MN \n- mn-Mong-CN \n- mn-Mong-MN \n- moh-CA \n- mr-IN \n- ms-BN \n- ms-MY \n- ms-SG \n- mt-MT \n- mua-CM \n- my-MM \n- mzn-IR \n- naq-NA \n- nb-NO \n- nb-SJ \n- nd-ZW \n- ne-IN \n- ne-NP \n- nl-AW \n- nl-BE \n- nl-BQ \n- nl-CW \n- nl-NL \n- nl-SR \n- nl-SX \n- nmg-CM \n- nnh-CM \n- nn-NO \n- nqo-GN \n- nr-ZA \n- nso-ZA \n- nus-SS \n- nyn-UG \n- oc-FR \n- om-ET \n- om-KE \n- or-IN \n- os-GE \n- os-RU \n- pa-Arab-PK \n- pa-IN \n- pap-029 \n- pl-PL \n- prg-001 \n- prs-AF \n- ps-AF \n- pt-AO \n- pt-BR \n- pt-CV \n- pt-GW \n- pt-MO \n- pt-MZ \n- pt-PT \n- pt-ST \n- pt-TL \n- quc-Latn-GT \n- quz-BO \n- quz-EC \n- quz-PE \n- rm-CH \n- rn-BI \n- rof-TZ \n- ro-MD \n- ro-RO \n- ru-BY \n- ru-KG \n- ru-KZ \n- ru-MD \n- ru-RU \n- ru-UA \n- rwk-TZ \n- rw-RW \n- sah-RU \n- sa-IN \n- saq-KE \n- sbp-TZ \n- sd-Arab-PK \n- sd-Deva-IN \n- se-FI \n- seh-MZ \n- se-NO \n- se-SE \n- ses-ML \n- sg-CF \n- shi-Latn-MA \n- shi-Tfng-MA \n- si-LK \n- sk-SK \n- sl-SI \n- sma-NO \n- sma-SE \n- smj-NO \n- smj-SE \n- smn-FI \n- sms-FI \n- sn-Latn-ZW \n- so-DJ \n- so-ET \n- so-KE \n- so-SO \n- sq-AL \n- sq-MK \n- sq-XK \n- sr-Cyrl-BA \n- sr-Cyrl-ME \n- sr-Cyrl-RS \n- sr-Cyrl-XK \n- sr-Latn-BA \n- sr-Latn-ME \n- sr-Latn-RS \n- sr-Latn-XK \n- ss-SZ \n- ssy-ER \n- ss-ZA \n- st-LS \n- st-ZA \n- sv-AX \n- sv-FI \n- sv-SE \n- sw-CD \n- sw-KE \n- sw-TZ \n- sw-UG \n- syr-SY \n- ta-IN \n- ta-LK \n- ta-MY \n- ta-SG \n- te-IN \n- teo-KE \n- teo-UG \n- tg-Cyrl-TJ \n- th-TH \n- ti-ER \n- ti-ET \n- tig-ER \n- tk-TM \n- tn-BW \n- tn-ZA \n- to-TO \n- tr-CY \n- tr-TR \n- ts-ZA \n- tt-RU \n- twq-NE \n- tzm-Arab-MA \n- tzm-Latn-DZ \n- tzm-Latn-MA \n- tzm-Tfng-MA \n- ug-CN \n- uk-UA \n- ur-IN \n- ur-PK \n- uz-Arab-AF \n- uz-Cyrl-UZ \n- uz-Latn-UZ \n- vai-Latn-LR \n- vai-Vaii-LR \n- ve-ZA \n- vi-VN \n- vo-001 \n- vun-TZ \n- wae-CH \n- wal-ET \n- wo-SN \n- xh-ZA \n- xog-UG \n- yav-CM \n- yi-001 \n- yo-BJ \n- yo-NG \n- zgh-Tfng-MA \n- zh-CN \n- zh-Hans-HK \n- zh-Hans-MO \n- zh-HK \n- zh-MO \n- zh-SG \n- zh-TW \n- zu-ZA"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: defaultRoleId
        in: query
        description: 'An identifier for the role new users should be assigned by default. You can provide multiple instances of this parameter to specify multiple roles. For example: roleId=346&roleId=347&roleId=348. You can discover roles available to your API integration by using the GetUserRoles command. If this paramter is not supplied, the system default role will be used.'
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
      deprecated: false
  /DeleteOrganization/{id}:
    get:
      tags:
      - Organization Management
      summary: DeleteOrganization
      description: Allows you to delete an organization.
      operationId: DeleteOrganization
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The organization ID
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
          example: 5487
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /UpdateOrganization/{id}:
    get:
      tags:
      - Organization Management
      summary: UpdateOrganization
      description: Allows you to update an organization.
      operationId: UpdateOrganization
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The organization's LMS ID
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      - name: name
        in: query
        description: The organization's name
        required: true
        style: form
        explode: true
        schema:
          type: string
          nullable: true
      - name: externalId
        in: query
        description: The organization's external ID, usually a unique identifier from the calling system
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: description
        in: query
        description: An optional description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parentId
        in: query
        description: The ID of the organization's parent organization. If not supplied, the current parent will be used.
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          nullable: true
          example: 7685
      - name: timeZoneId
        in: query
        description: "The time zone for the data object. If not specified, the timezone of the organization will be used.  \n\n**Allowed values**  \n  \nAfghanistan Standard Time  \nAlaskan Standard Time  \nAleutian Standard Time  \nAltai Standard Time  \nArab Standard Time  \nArabian Standard Time  \nArabic Standard Time  \nArgentina Standard Time  \nAstrakhan Standard Time  \nAtlantic Standard Time  \nAUS Central Standard Time  \nAus Central W. Standard Time  \nAUS Eastern Standard Time  \nAzerbaijan Standard Time  \nAzores Standard Time  \nBahia Standard Time  \nBangladesh Standard Time  \nBelarus Standard Time  \nBougainville Standard Time  \nCanada Central Standard Time  \nCape Verde Standard Time  \nCaucasus Standard Time  \nCen. Australia Standard Time  \nCentral America Standard Time  \nCentral Asia Standard Time  \nCentral Brazilian Standard Time  \nCentral Europe Standard Time  \nCentral European Standard Time  \nCentral Pacific Standard Time  \nCentral Standard Time  \nCentral Standard Time (Mexico)  \nChatham Islands Standard Time  \nChina Standard Time  \nCuba Standard Time  \nDateline Standard Time  \nE. Africa Standard Time  \nE. Australia Standard Time  \nE. Europe Standard Time  \nE. South America Standard Time  \nEaster Island Standard Time  \nEastern Standard Time  \nEastern Standard Time (Mexico)  \nEgypt Standard Time  \nEkaterinburg Standard Time  \nFiji Standard Time  \nFLE Standard Time  \nGeorgian Standard Time  \nGMT Standard Time  \nGreenland Standard Time  \nGreenwich Standard Time  \nGTB Standard Time  \nHaiti Standard Time  \nHawaiian Standard Time  \nIndia Standard Time  \nIran Standard Time  \nIsrael Standard Time  \nJordan Standard Time  \nKaliningrad Standard Time  \nKamchatka Standard Time  \nKorea Standard Time  \nLibya Standard Time  \nLine Islands Standard Time  \nLord Howe Standard Time  \nMagadan Standard Time  \nMagallanes Standard Time  \nMarquesas Standard Time  \nMauritius Standard Time  \nMid-Atlantic Standard Time  \nMiddle East Standard Time  \nMontevideo Standard Time  \nMorocco Standard Time  \nMountain Standard Time  \nMountain Standard Time (Mexico)  \nMyanmar Standard Time  \nN. Central Asia Standard Time  \nNamibia Standard Time  \nNepal Standard Time  \nNew Zealand Standard Time  \nNewfoundland Standard Time  \nNorfolk Standard Time  \nNorth Asia East Standard Time  \nNorth Asia Standard Time  \nNorth Korea Standard Time  \nOmsk Standard Time  \nPacific SA Standard Time  \nPacific Standard Time  \nPacific Standard Time (Mexico)  \nPakistan Standard Time  \nParaguay Standard Time  \nQyzylorda Standard Time  \nRomance Standard Time  \nRussia Time Zone 10  \nRussia Time Zone 11  \nRussia Time Zone 3  \nRussian Standard Time  \nSA Eastern Standard Time  \nSA Pacific Standard Time  \nSA Western Standard Time  \nSaint Pierre Standard Time  \nSakhalin Standard Time  \nSamoa Standard Time  \nSao Tome Standard Time  \nSaratov Standard Time  \nSE Asia Standard Time  \nSingapore Standard Time  \nSouth Africa Standard Time  \nSouth Sudan Standard Time  \nSri Lanka Standard Time  \nSudan Standard Time  \nSyria Standard Time  \nTaipei Standard Time  \nTasmania Standard Time  \nTocantins Standard Time  \nTokyo Standard Time  \nTomsk Standard Time  \nTonga Standard Time  \nTransbaikal Standard Time  \nTurkey Standard Time  \nTurks And Caicos Standard Time  \nUlaanbaatar Standard Time  \nUS Eastern Standard Time  \nUS Mountain Standard Time  \nUTC  \nUTC+12  \nUTC+13  \nUTC-02  \nUTC-08  \nUTC-09  \nUTC-11  \nVenezuela Standard Time  \nVladivostok Standard Time  \nVolgograd Standard Time  \nW. Australia Standard Time  \nW. Central Africa Standard Time  \nW. Europe Standard Time  \nW. Mongolia Standard Time  \nWest Asia Standard Time  \nWest Bank Standard Time  \nWest Pacific Standard Time  \nYakutsk Standard Time  \nYukon Standard Time"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: culture
        in: query
        description: "The default language/culture setting. This is used as a default when creating new users and events. If not specified, the culture of the parent organization will be used. \n\n Allowed Values \n\n \n- aa-DJ \n- aa-ER \n- aa-ET \n- af-NA \n- af-ZA \n- agq-CM \n- ak-GH \n- am-ET \n- ar-001 \n- ar-AE \n- ar-BH \n- ar-DJ \n- ar-DZ \n- ar-EG \n- ar-ER \n- ar-IL \n- ar-IQ \n- ar-JO \n- ar-KM \n- ar-KW \n- ar-LB \n- ar-LY \n- ar-MA \n- ar-MR \n- arn-CL \n- ar-OM \n- ar-PS \n- ar-QA \n- ar-SA \n- ar-SD \n- ar-SO \n- ar-SS \n- ar-SY \n- ar-TD \n- ar-TN \n- ar-YE \n- asa-TZ \n- as-IN \n- ast-ES \n- az-Cyrl-AZ \n- az-Latn-AZ \n- ba-RU \n- bas-CM \n- be-BY \n- bem-ZM \n- bez-TZ \n- bg-BG \n- bin-NG \n- bm-Latn-ML \n- bn-BD \n- bn-IN \n- bo-CN \n- bo-IN \n- br-FR \n- brx-IN \n- bs-Cyrl-BA \n- bs-Latn-BA \n- byn-ER \n- ca-AD \n- ca-ES \n- ca-ES-valencia \n- ca-FR \n- ca-IT \n- ce-RU \n- cgg-UG \n- chr-Cher-US \n- co-FR \n- cs-CZ \n- cu-RU \n- cy-GB \n- da-DK \n- da-GL \n- dav-KE \n- de-AT \n- de-BE \n- de-CH \n- de-DE \n- de-LI \n- de-LU \n- dje-NE \n- dsb-DE \n- dua-CM \n- dv-MV \n- dyo-SN \n- dz-BT \n- ebu-KE \n- ee-GH \n- ee-TG \n- el-CY \n- el-GR \n- en-001 \n- en-029 \n- en-150 \n- en-AG \n- en-AI \n- en-AS \n- en-AT \n- en-AU \n- en-BB \n- en-BE \n- en-BI \n- en-BM \n- en-BS \n- en-BW \n- en-BZ \n- en-CA \n- en-CC \n- en-CH \n- en-CK \n- en-CM \n- en-CX \n- en-CY \n- en-DE \n- en-DK \n- en-DM \n- en-ER \n- en-FI \n- en-FJ \n- en-FK \n- en-FM \n- en-GB \n- en-GD \n- en-GG \n- en-GH \n- en-GI \n- en-GM \n- en-GU \n- en-GY \n- en-HK \n- en-ID \n- en-IE \n- en-IL \n- en-IM \n- en-IN \n- en-IO \n- en-JE \n- en-JM \n- en-KE \n- en-KI \n- en-KN \n- en-KY \n- en-LC \n- en-LR \n- en-LS \n- en-MG \n- en-MH \n- en-MO \n- en-MP \n- en-MS \n- en-MT \n- en-MU \n- en-MW \n- en-MY \n- en-NA \n- en-NF \n- en-NG \n- en-NL \n- en-NR \n- en-NU \n- en-NZ \n- en-PG \n- en-PH \n- en-PK \n- en-PN \n- en-PR \n- en-PW \n- en-RW \n- en-SB \n- en-SC \n- en-SD \n- en-SE \n- en-SG \n- en-SH \n- en-SI \n- en-SL \n- en-SS \n- en-SX \n- en-SZ \n- en-TC \n- en-TK \n- en-TO \n- en-TT \n- en-TV \n- en-TZ \n- en-UG \n- en-UM \n- en-US \n- en-VC \n- en-VG \n- en-VI \n- en-VU \n- en-WS \n- en-ZA \n- en-ZM \n- en-ZW \n- eo-001 \n- es-419 \n- es-AR \n- es-BO \n- es-CL \n- es-CO \n- es-CR \n- es-CU \n- es-DO \n- es-EC \n- es-ES \n- es-GQ \n- es-GT \n- es-HN \n- es-MX \n- es-NI \n- es-PA \n- es-PE \n- es-PH \n- es-PR \n- es-PY \n- es-SV \n- es-US \n- es-UY \n- es-VE \n- et-EE \n- eu-ES \n- ewo-CM \n- fa-IR \n- ff-CM \n- ff-GN \n- ff-Latn-SN \n- ff-MR \n- ff-NG \n- fi-FI \n- fil-PH \n- fo-DK \n- fo-FO \n- fr-029 \n- fr-BE \n- fr-BF \n- fr-BI \n- fr-BJ \n- fr-BL \n- fr-CA \n- fr-CD \n- fr-CF \n- fr-CG \n- fr-CH \n- fr-CI \n- fr-CM \n- fr-DJ \n- fr-DZ \n- fr-FR \n- fr-GA \n- fr-GF \n- fr-GN \n- fr-GP \n- fr-GQ \n- fr-HT \n- fr-KM \n- fr-LU \n- fr-MA \n- fr-MC \n- fr-MF \n- fr-MG \n- fr-ML \n- fr-MQ \n- fr-MR \n- fr-MU \n- fr-NC \n- fr-NE \n- fr-PF \n- fr-PM \n- fr-RE \n- fr-RW \n- fr-SC \n- fr-SN \n- fr-SY \n- fr-TD \n- fr-TG \n- fr-TN \n- fr-VU \n- fr-WF \n- fr-YT \n- fur-IT \n- fy-NL \n- ga-IE \n- gd-GB \n- gl-ES \n- gn-PY \n- gsw-CH \n- gsw-FR \n- gsw-LI \n- gu-IN \n- guz-KE \n- gv-IM \n- ha-Latn-GH \n- ha-Latn-NE \n- ha-Latn-NG \n- haw-US \n- he-IL \n- hi-IN \n- hr-BA \n- hr-HR \n- hsb-DE \n- hu-HU \n- hy-AM \n- ia-001 \n- ia-FR \n- ibb-NG \n- id-ID \n- ig-NG \n- ii-CN \n- is-IS \n- it-CH \n- it-IT \n- it-SM \n- iu-Cans-CA \n- iu-Latn-CA \n- ja-JP \n- jgo-CM \n- jmc-TZ \n- jv-Java-ID \n- jv-Latn-ID \n- kab-DZ \n- ka-GE \n- kam-KE \n- kde-TZ \n- kea-CV \n- khq-ML \n- ki-KE \n- kkj-CM \n- kk-KZ \n- kl-GL \n- kln-KE \n- km-KH \n- kn-IN \n- kok-IN \n- ko-KP \n- ko-KR \n- kr-NG \n- ks-Arab-IN \n- ksb-TZ \n- ks-Deva-IN \n- ksf-CM \n- ksh-DE \n- ku-Arab-IQ \n- ku-Arab-IR \n- kw-GB \n- ky-KG \n- la-001 \n- lag-TZ \n- lb-LU \n- lg-UG \n- lkt-US \n- ln-AO \n- ln-CD \n- ln-CF \n- ln-CG \n- lo-LA \n- lrc-IQ \n- lrc-IR \n- lt-LT \n- lu-CD \n- luo-KE \n- luy-KE \n- lv-LV \n- mas-KE \n- mas-TZ \n- mer-KE \n- mfe-MU \n- mgh-MZ \n- mg-MG \n- mgo-CM \n- mi-NZ \n- mk-MK \n- ml-IN \n- mni-IN \n- mn-MN \n- mn-Mong-CN \n- mn-Mong-MN \n- moh-CA \n- mr-IN \n- ms-BN \n- ms-MY \n- ms-SG \n- mt-MT \n- mua-CM \n- my-MM \n- mzn-IR \n- naq-NA \n- nb-NO \n- nb-SJ \n- nd-ZW \n- ne-IN \n- ne-NP \n- nl-AW \n- nl-BE \n- nl-BQ \n- nl-CW \n- nl-NL \n- nl-SR \n- nl-SX \n- nmg-CM \n- nnh-CM \n- nn-NO \n- nqo-GN \n- nr-ZA \n- nso-ZA \n- nus-SS \n- nyn-UG \n- oc-FR \n- om-ET \n- om-KE \n- or-IN \n- os-GE \n- os-RU \n- pa-Arab-PK \n- pa-IN \n- pap-029 \n- pl-PL \n- prg-001 \n- prs-AF \n- ps-AF \n- pt-AO \n- pt-BR \n- pt-CV \n- pt-GW \n- pt-MO \n- pt-MZ \n- pt-PT \n- pt-ST \n- pt-TL \n- quc-Latn-GT \n- quz-BO \n- quz-EC \n- quz-PE \n- rm-CH \n- rn-BI \n- rof-TZ \n- ro-MD \n- ro-RO \n- ru-BY \n- ru-KG \n- ru-KZ \n- ru-MD \n- ru-RU \n- ru-UA \n- rwk-TZ \n- rw-RW \n- sah-RU \n- sa-IN \n- saq-KE \n- sbp-TZ \n- sd-Arab-PK \n- sd-Deva-IN \n- se-FI \n- seh-MZ \n- se-NO \n- se-SE \n- ses-ML \n- sg-CF \n- shi-Latn-MA \n- shi-Tfng-MA \n- si-LK \n- sk-SK \n- sl-SI \n- sma-NO \n- sma-SE \n- smj-NO \n- smj-SE \n- smn-FI \n- sms-FI \n- sn-Latn-ZW \n- so-DJ \n- so-ET \n- so-KE \n- so-SO \n- sq-AL \n- sq-MK \n- sq-XK \n- sr-Cyrl-BA \n- sr-Cyrl-ME \n- sr-Cyrl-RS \n- sr-Cyrl-XK \n- sr-Latn-BA \n- sr-Latn-ME \n- sr-Latn-RS \n- sr-Latn-XK \n- ss-SZ \n- ssy-ER \n- ss-ZA \n- st-LS \n- st-ZA \n- sv-AX \n- sv-FI \n- sv-SE \n- sw-CD \n- sw-KE \n- sw-TZ \n- sw-UG \n- syr-SY \n- ta-IN \n- ta-LK \n- ta-MY \n- ta-SG \n- te-IN \n- teo-KE \n- teo-UG \n- tg-Cyrl-TJ \n- th-TH \n- ti-ER \n- ti-ET \n- tig-ER \n- tk-TM \n- tn-BW \n- tn-ZA \n- to-TO \n- tr-CY \n- tr-TR \n- ts-ZA \n- tt-RU \n- twq-NE \n- tzm-Arab-MA \n- tzm-Latn-DZ \n- tzm-Latn-MA \n- tzm-Tfng-MA \n- ug-CN \n- uk-UA \n- ur-IN \n- ur-PK \n- uz-Arab-AF \n- uz-Cyrl-UZ \n- uz-Latn-UZ \n- vai-Latn-LR \n- vai-Vaii-LR \n- ve-ZA \n- vi-VN \n- vo-001 \n- vun-TZ \n- wae-CH \n- wal-ET \n- wo-SN \n- xh-ZA \n- xog-UG \n- yav-CM \n- yi-001 \n- yo-BJ \n- yo-NG \n- zgh-Tfng-MA \n- zh-CN \n- zh-Hans-HK \n- zh-Hans-MO \n- zh-HK \n- zh-MO \n- zh-SG \n- zh-TW \n- zu-ZA"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /SearchCourses:
    get:
      tags:
      - Course Management
      summary: SearchCourses
      description: Allows you to search for courses.
      operationId: SearchCourses
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageIndex
        in: query
        description: A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: pageSize
        in: query
        description: Indicates how many results you want per page. if not supplied, a default value of 100 is used.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: sort
        in: query
        description: "he value you want to sort by. If not supplied, a default value of \"Name\" will be used. You can append \" DESC\" after the sort value to sort descending. For example, \"Name DESC\" would sort by name in descending order. Possible values: \n- Name \n- Organization \n- ContentProvider \n- AvailableInstructorLed \n- AvailableSelfPaced"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        description: n optional parameter used to filter for courses by name. When specified, only courses that have names that contain or match the this value will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: externalId
        in: query
        description: An optional parameter used to filter for courses by external ID
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: hasLabs
        in: query
        description: An optional parameter used to filter for courses that contain labs. If true is passed, only courses with labs are returned. If false is passed, only courses without labs are returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: createdAfter
        in: query
        description: An optional parameter used to filter for courses created after a specified date. When used in conjunction with the "createdBefore" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: createdBefore
        in: query
        description: An optional parameter used to filter for courses created before a specified date. When used in conjunction with the "createdAfter" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastModifiedAfter
        in: query
        description: An optional parameter used to filter for courses modified after a specified date. When used in conjunction with the "lastModifiedBefore" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastModifiedBefore
        in: query
        description: An optional parameter used to filter for courses modified before a specified date. When used in conjunction with the "lastModifiedAfter" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: availableInstructorLed
        in: query
        description: An optional parameter used to filter for courses that are available instructor-led. If true is passed, only courses that are avaialble instructor-led are returned. If false is passed, only courses that are not available instructor-led are returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: availableSelfPaced
        in: query
        description: An optional parameter used to filter for courses that are available self-paced. If true is passed, only courses that are avaialble self-paced are returned. If false is passed, only courses that are not available self-paced are returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCourseResponse'
      deprecated: false
  /GetCourse/{id}:
    get:
      tags:
      - Course Management
      summary: GetCourse
      description: Allows you to get information about a course.
      operationId: GetCourse
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the course to retrieve
        required: true
        style: simple
        explode: true
        schema:
          type: integer
          format: int32
          example: 34556
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
      deprecated: false
  /GetCourseByExternalId/{id}:
    get:
      tags:
      - Course Management
      summary: GetCourseByExternalId
      description: Allows you to get information about a course by providing a unique identifier from your external system.
      operationId: GetCourseByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The external ID of the course to retrieve.
        required: true
        style: simple
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
      deprecated: false
  /SearchCourseTagGroups:
    get:
      tags:
      - Course Management
      summary: SearchCourseTagGroups
      description: Allows you to search for course tag groups.
      operationId: SearchCourseTagGroups
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageIndex
        in: query
        description: A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: pageSize
        in: query
        description: Indicates how many results you want per page. if not supplied, a default value of 100 is used.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: sort
        in: query
        description: "The value you want to sort by. If not supplied, a default value of \"Name\" will be assumed. You can append \" DESC\" after the sort value to sort descending. For example, \"Name DESC\" would sort by name time in descending order. Possible values: \n- Name"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        description: An optional parameter used to filter for course tag groups by name
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCourseTagGroupResponse'
      deprecated: false
  /SearchCourseFeedback:
    get:
      tags:
      - Course Management
      summary: SearchCourseFeedback
      description: Allows you to search for course feedback.
      operationId: SearchCourseFeedback
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageIndex
        in: query
        description: A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: pageSize
        in: query
        description: Indicates how many results you want per page. if not supplied, a default value of 100 is used.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: sort
        in: query
        description: "he value you want to sort by. If not supplied, a default value of \"Created\" will be used. You can append \" DESC\" after the sort value to sort descending. For example, \"Created DESC\" would sort by created date in descending order. Possible values:\n- Created \n- Title \n- Content \n- Positive \n- Negative \n- User \n- CoruseAssignment \n- Course \n- Class \n- ClassEnrollment \n- Activity \n- ActivityType"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: courseId
        in: query
        description: An optional parameter used to filter for a course by Id. When specified, only feedback entries for the specified course will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 67785
      - name: name
        in: query
        description: An optional parameter used to filter for courses by name. When specified, only feedback entries for courses that have names that contain or match the this value will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: createdAfter
        in: query
        description: An optional parameter used to filter for feedback entries created after a specified date. When used in conjunction with the "createdBefore" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          nullable: true
          example: 1492203295
      - name: createdBefore
        in: query
        description: An optional parameter used to filter for feedback entries created before a specified date. When used in conjunction with the "createdAfter" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          nullable: true
          example: 1492203295
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCourseFeedbackReponse'
      deprecated: false
  /GetClassEnrollment/{id}:
    get:
      tags:
      - Class Enrollment Management
      summary: GetClassEnrollment
      description: Allows you to get basic information about a class enrollment.
      operationId: GetClassEnrollment
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the class enrollment to retrieve
        required: true
        style: simple
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassEnrollmentResponse'
      deprecated: false
  /GetClassEnrollmentByClassAndUser:
    get:
      tags:
      - Class Enrollment Management
      summary: GetClassEnrollmentByClassAndUser
      description: Allows you to get information about a class enrollment by providing class and user identifiers.
      operationId: GetClassEnrollmentByClassAndUser
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: classId
        in: query
        description: The ID of the class the enrollment to retrieve is for
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 445632
      - name: userId
        in: query
        description: The ID of the user the enrollment to retrieve is for
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 67856
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassEnrollmentResponse'
      deprecated: false
  /GetClassEnrollmentByExternalId:
    get:
      tags:
      - Class Enrollment Management
      summary: GetClassEnrollmentByExternalId
      description: Allows you to get information about a class enrollment by providing a unique identifier from your external system.
      operationId: GetClassEnrollmentByExternalId
      parameters:
      - name: api_key
        in: header
        description: Backend API access
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        description: The external ID of the class enrollment to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassEnrollmentResponse'
      deprecated: false
  /CreateClassEnrollment:
    get:
      tags:
      - Class Enrollment Management
      summary: CreateClassEnrollment
      description: Allows you to create a class enrollment.
[...]
