openapi: 3.0.3
info:
  title: Skillable Lab API
  description: |
    # Introduction 
    Welcome to Skillable Connect: LAB Edition, our core platform for creating, customizing, and managing labs. 

    ## Skillable Production API & Integration Testing
    Only lab profiles with a development status of **Complete** are consumable via API.

    Development/Integration Testing API available with all the same API calls your production API can make, but has the following settings:

    - Max Active Lab Instances: 5
    - Max Saved Labs per User: 1
    - Max Active Lab Instances per user: 5
    - Max lab duration: 30 minutes
    - Allows launching of lab profiles with any Development Status (i.e. is not restricted to a Complete development status)
    - Has a dedicated API key
    - Does not generate billable events

    ## Authenticate with API Key
    Skillable APIs offer one form of authentication: an API Key. All methods require an API Key, which must be obtained from a Skillable team member working with your organization. Our systems use this key to validate your development account. 

    Pass your API Key as an HTTP request header with the header name "api_key".


    <SecurityDefinitions />
  termsOfService: 'https://skillable.com/terms-and-conditions/'
  contact:
    name: Skillable Support
    url: 'https://skillable.com/customer-support/'
  x-logo:
    url: 'https://raw.githubusercontent.com/LearnOnDemandSystems/ConnectAPI/main/Skillable%20Connect%20Logo.svg'
    altText: Skillable Connect
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: '3.0'
servers:
  - url: 'https://labondemand.com/api/v3'
    description: Skillable Connect LAB API
security:
  - api_key: []
tags:
  - name: Lab Instance Management
    description: |-
      The Lab Instance Management group of API commands allows interacting with lab instances. This includes but is not limited to the following actions: 
      * Launch a lab 
      * Cancel a lab
      * Save a lab 
      * Resuming a lab
      * Initiate scoring of activities in a lab  
      * Send notifications to a lab  
      * Retrieve information about lab instances
  - name: Lab Profile Management
    description: |-
      The Lab Profile Management group of API commands allows for managing instructions and retrieving information about Lab Profiles within Skillable Studio. 
      * Retrieve information about a specific lab profile
      * Retrieve lab instructions for a specific lab 
      * Download instructions in a zip file for a specific lab 
      * Update lab instructions for a specific lab profile using an HTTP post
      * Update lab instructions for a specific lab by uploading a zip file
  - name: Class Management
    description: |-
      The Class Management group of API commands allows for the creation, management, access, and monitoring of classes within Skillable Studio. 
      * Retrieve information about a class in Skillable Studio
      * Retrieve information about an existing class, if the class does not exist, it will be created
      * Return a single access URL to access a class management page
      * Return a single use URL to monitor a lab instance
      * Return a single use URL to access a lab instance
      * Update a specific class
      * Delete a specific class
  - name: User Management
    description: |-
      The User Management group of API commands are used to administer user accounts within Skillable Studio.
      * Return information about saved or running labs for a specific user account
      * Close a user account and remove all associated user information
  - name: Event Management
    description: |-
      The Event Management group of API commands allows for launching lab profiles for events and retrieving evaluation responses.
      * Launch a lab within an event 
      * Launch a lab within an event, using an external ID
      * Retrieve evaluation data for a specified event 
  - name: Organization
    description: |-
      Organizational API commands provide the ability to return information about lab profiles, lab series, and delivery regions available to your organization in Skillable Studio.
      * Retrieve information about lab profiles, lab series, and delivery regions available to your organization
      * Retrieve information about delivery regions that are available to your organization
paths:
  /launch:
    get:
      tags:
        - Lab Instance Management
      summary: Launch a lab
      description: The **Launch** command will launch a specified lab for a specified user.
      operationId: Launch
      parameters:
        - name: labid
          in: query
          description: The ID of the lab profile.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 100
        - name: userid
          in: query
          description: The ID you use to identify the user in your external system.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '555'
        - name: firstname
          in: query
          description: The user’s first name.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Joe
        - name: lastname
          in: query
          description: The user’s last name.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Smith
        - name: email
          in: query
          description: The user’s email address.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: joe.smith@email.com
        - name: classId
          in: query
          description: 'An optional parameter used to associate the lab with a class (see **GetOrCreateClass**). This is the unique identifier of the class as it is represented in your organization.   '
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '1223334444'
        - name: canBeMarkedComplete
          in: query
          description: 'An optional parameter used to specify if the lab can be marked as complete by the student. 1 = true, 2 = false. If not specified, defaults to 1 (true).'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            enum:
              - 1
              - 2
            default: 1
            example: 1
        - name: tag
          in: query
          description: An optional parameter that can be used for tagging the lab instance with your own custom data.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: testlaunch
        - name: ipAddress
          in: query
          description: 'When specified, Skillable will attempt to launch the lab in  the closest available delivery region. You should provide the  IP address of the user that is taking the lab, not the IP address  of your system. IPv4 and IPv6 address are supported.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 1.1.1.1
        - name: regionId
          in: query
          description: 'When specified, Skillable will attempt to launch the lab in  the specified delivery region if a suitable host in that region  is available and all required storage is available in that region.  Delivery regions can be found using the **DeliveryRegions** command  or **Catalog** command. Using the ipAddress parameter will result in  a more reliable geo-location of the lab for the end user.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: roleId
          in: query
          description: Allows you specify the role(s) to assign to the user. You may pass  multiple instances of this parameter to specify multiple roles.  Roles are used for specialized integration purposes and are not  needed in typical integration scenarios. Role IDs will be  provided by Skillable when appropriate.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: variable-name
          in: query
          description: 'Allows you to set the values of named variables used within the lab instance.  The key must start with the fixed text **variable-**. '
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Chad
        - name: maxSavedLabs
          in: query
          description: The max number of labs an individual user may save is capped by the number configured on your API consumer.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2
        - name: maxActiveLabs
          in: query
          description: The max number of concurrent lab instances is capped by the number configured on your API consumer.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: lang
          in: query
          description: |-
            Allows you to override the language of the Instruction Set as well as the lab client UI language. This affects lab client UI elements like menus, tabs, and dialogs. Using this in connection with <strong>instructionsId</strong> will allow you to select launching labs with a specific Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option.  

              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to launch the lab and present the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be used instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchResponse'
              examples:
                Example of a successful lab instance launch:
                  value:
                    Result: 1
                    Url: 'https://labondemand.com/console/setup/1b4909d6-0dbe-43db-9ab9-74ee4f913c4e'
                    LabInstanceId: 3896477
                    Expires: 1337977153
                    Status: 1
                    Error: null
      deprecated: false
  /cancel:
    get:
      summary: Cancel a lab instance
      description: |-
        The **Cancel** command allows you to cancel a specified lab instance. 

        **Please note**: when issuing this command that there is some time required for the lab instance tear down process.  If retrying a lab launch for a user where the Max Active Lab Instances Per User is set to 1 for the API consumer, then please take this teardown time into account for the API integration.
      operationId: Cancel
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance to cancel.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 12345678
      responses:
        '200':
          description: OK Response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResponse'
              examples:
                Example of successfully cancelling a lab instance available to the API consumer:
                  summary: Example of a successful response
                  value:
                    Result: 1
                    Error: null
                    Status: 1
                Example of trying to cancel a lab instance launched by a different API consumer:
                  summary: Example of an error response
                  value:
                    Error: Invalid integration key
                    Status: 1
      deprecated: false
      tags:
        - Lab Instance Management
  /details:
    get:
      tags:
        - Lab Instance Management
      summary: Retrieve details about a lab instance
      description: The **Details** command retrieves detailed information about a specified lab instance.
      operationId: Details
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 360701
      responses:
        '200':
          description: OK Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailsResponse'
              examples:
                Example of the details returned from a specific lab instance:
                  value:
                    Id: 360701
                    LabProfileId: 18100
                    LabProfileName: '01: Launch/Details Call'
                    SeriesId: 10702
                    SeriesName: API Examples
                    UserId: '11'
                    UserFirstName: Chad
                    UserLastName: S
                    ClassId: null
                    ClassName: null
                    Start: 1603295589
                    StartTime: /Date(1603295589000)/
                    Expires: 1603299334
                    ExpiresTime: /Date(1603299334000)/
                    End: 1603295793
                    EndTime: /Date(1603295793000)/
                    LastActivity: 1603295787
                    LastActivityTime: /Date(1603295787000)/
                    LastSave: null
                    LastSaveTime: null
                    SaveExpires: null
                    SaveExpiresTime: null
                    State: Tearing Down
                    CompletionStatus: Complete
                    PoolMemberName: null
                    LabHostId: 111
                    LabHostName: LOD-HV03
                    DatacenterId: 4
                    DatacenterName: LOD-East
                    DeliveryRegionId: 1
                    DeliveryRegionName: Default
                    PlatformId: 2
                    LastSaveTriggerType: null
                    TimeInSession: 204
                    TotalRunTime: 204
                    TimeRemaining: 0
                    InstructorName: null
                    StartupDuration: 145
                    Errors: []
                    Snapshots: []
                    Sessions:
                      - Start: 1603295589
                        StartTime: /Date(1603295589000)/
                        End: 1603295793
                        EndTime: /Date(1603295793000)/
                    Notes:
                      - Time: 1603295793
                        TimeValue: /Date(1603295793000)/
                        Title: This environment has been submitted for grading and can no longer be accessed.
                        Text: Submitted for scoring from the lab console by the student.
                    HasContent: true
                    Task: null
                    Exercise: null
                    NumTasks: 0
                    NumCompletedTasks: 0
                    TaskCompletePercent: 100
                    MonitorUrl: null
                    DetailsUrl: 'https://labondemand.com/LabInstance/360701'
                    RemoteController: HTML5
                    Tag: null
                    BrowserUserAgent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.80 Safari/537.36 Edg/86.0.622.48'
                    LastLatency: 35
                    ExamPassed: true
                    ExamScore: 5
                    ExamMaxPossibleScore: 5
                    ExamPassingScore: 2
                    ExamScoredById: null
                    ExamScoredByName: null
                    ExamDetails: null
                    ExamScoredDate: 1603295793
                    ExamScoredTime: /Date(1603295793000)/
                    IsExam: true
                    IpAddress: 198.199.209.76
                    Country: United States of America
                    Region: Florida
                    City: Lakeland
                    Latitude: 28.03947
                    Longitude: -81.9498
                    PublicIpAddresses: []
                    CloudCredentials:
                      - PropertiesJson: '{  "Username": "Username2",  "Password": "Password2"}'
                        Expires: 1645557720000
                        DisplayName: Demo Demo Demo Demo Demo
                        Message: null
                    CloudPortalCredentials:
                      - CloudPlatform: 10
                        PropertiesJson: "{\r\n  \"Username\": \"User1-360701@lod.onmicrosoft.com\",\r\n  \"Password\": \"1234ABCD\",\r\n  \"_FirstName\": \"Chad\",\r\n  \"_LastName\": \"S\"\r\n}"
                    VirtualMachineCredentials:
                      - Id: 13484
                        Name: Windows 10 2004
                        Username: Student
                        Password: Pa$$w0rd
                    CloudPlatformId: 10
                    ClientUrl: null
                    ActivityResults:
                      - ActivityId: 4910
                        ActivityName: What is 1 + 1?
                        Scored: true
                        Score: 1
                        Passed: true
                        ActivityType: 0
                        TextResult: null
                        UiResponse: You got the correct answer.
                        AnswerResults:
                          - AnswerId: 2856
                            AnswerText: '2'
                            Correct: true
                        ScriptResults: []
                        DisplayScriptsAsTaskList: false
                        AnswerTexts:
                          - Correct: false
                            AnswerId: 2855
                            Text: '1'
                            Chosen: false
                          - Correct: true
                            AnswerId: 2856
                            Text: '2'
                            Chosen: true
                          - Correct: false
                            AnswerId: 2857
                            Text: '3'
                            Chosen: false
                          - Correct: false
                            AnswerId: 2858
                            Text: '4'
                            Chosen: false
                        ScriptTexts: []
                        ShowResultsInReports: true
                      - ActivityId: 4911
                        ActivityName: Select all that result in a product of 4
                        Scored: true
                        Score: 3
                        Passed: true
                        ActivityType: 10
                        TextResult: null
                        UiResponse: 'Good, you understand what a product function is.'
                        AnswerResults:
                          - AnswerId: 2859
                            AnswerText: '1, 4'
                            Correct: true
                          - AnswerId: 2860
                            AnswerText: '-1, -4'
                            Correct: true
                          - AnswerId: 2861
                            AnswerText: '2, 2'
                            Correct: true
                        DisplayScriptsAsTaskList: false
                        AnswerTexts:
                          - Correct: true
                            AnswerId: 2859
                            Text: '1, 4'
                            Chosen: true
                          - Correct: true
                            AnswerId: 2860
                            Text: '-1, -4'
                            Chosen: true
                          - Correct: true
                            AnswerId: 2861
                            Text: '2, 2'
                            Chosen: true
                          - Correct: false
                            AnswerId: 2862
                            Text: '2, -2'
                            Chosen: false
                        ScriptTexts: []
                        ShowResultsInReports: true
                      - ActivityId: 4912
                        ActivityName: What is the southernmost continent on earth?
                        Scored: true
                        Score: 1
                        Passed: true
                        ActivityType: 20
                        TextResult: Antarctica
                        UiResponse: 'Great, you know your geography.'
                        AnswerResults: []
                        ScriptResults: []
                        DisplayScriptsAsTaskList: false
                        AnswerTexts: []
                        ScriptTexts: []
                        ShowResultsInReports: true
                      - ActivityId: 110631
                        ActivityName: What are the colors of the French flag?
                        Scored: true
                        Score: 3
                        Passed: true
                        ActivityType: 30
                        TextResult: 'It''s blue, white, red'
                        UiResponse: 'Correct, move on to the next flag question.'
                        AnswerResults: []
                        ScriptResults: []
                        DisplayScriptsAsTaskList: false
                        AnswerTexts: []
                        ScriptTexts: []
                        ShowResultsInReports: true
                      - ActivityId: 91810
                        ActivityName: 'Create a folder called LAB in the root of C:'
                        Scored: true
                        Score: 0
                        Passed: false
                        ActivityType: 40
                        TextResult: null
                        UiResponse: null
                        AnswerResults: []
                        ScriptResults:
                          - ScriptId: 37337
                            Score: 0
                            Passed: false
                            UiResponse: ''
                            ScriptResponse: "Check if [C:\\LAB] exists.\r\n\r\nPath Does Not Exist\r\n"
                            PlatformError: false
                            ScriptError: false
                        DisplayScriptsAsTaskList: false
                        AnswerTexts: []
                        ScriptTexts:
                          - ScriptId: 37337
                            Text: null
                        ShowResultsInReports: true
                    ActivityGroupResults:
                      - Id: 1131
                        Name: GRP1
                        ScoreValueTotal: 40
                        AggregateScore: 20
                        ActivityResults:
                          - ActivityId: 91811
                            ActivityName: Instructor First Name
                            Scored: true
                            Score: 20
                            Passed: true
                            ActivityType: 20
                            TextResult: Jon
                            UiResponse: Correct
                            AnswerResults: []
                            ScriptResults: []
                            DisplayScriptsAsTaskList: false
                            AnswerTexts: []
                            ScriptTexts: []
                            ShowResultsInReports: true
                          - ActivityId: 91812
                            ActivityName: Instructor Last Name
                            Scored: true
                            Score: 0
                            Passed: false
                            ActivityType: 20
                            TextResult: Kirk
                            UiResponse: Incorrect
                            AnswerResults: []
                            ScriptResults: []
                            DisplayScriptsAsTaskList: false
                            AnswerTexts: []
                            ScriptTexts: []
                            ShowResultsInReports: true
                    EstimatedReadySeconds: null
                    InstructionsId: The ID of the Instructions used
                    Language: en
                    Error: null
                    Status: 1
      deprecated: false
  /Result:
    get:
      tags:
        - Lab Instance Management
      summary: Retrieve information about a lab instance result
      description: The **Result** command returns information about a particular lab instance result.
      operationId: Result
      parameters:
        - name: labinstanceId
          in: query
          description: The ID of the lab instance.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 2393049
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
              examples:
                Example of successfully returning information about a particular lab instance result:
                  value:
                    LabProfileId: 1
                    Start: 1338224609
                    End: 1338224624
                    LastActivity: 1338224624
                    UserId: '555'
                    ClassId: null
                    CompletionStatus: 4
                    TotalRunTimeSeconds: 4168
                    TaskCompletePercent: 100
                    IsExam: false
                    ExamPassed: null
                    ExamScore: null
                    ExamMaxPossibleScore: null
                    ExamPassingScore: null
                    IpAddress: null
                    Country: null
                    Region: null
                    City: null
                    Latitude: null
                    Longitude: null
                    LabHostId: 49
                    DatacenterId: 3
                    DeliveryRegionId: 2
                    Status: 1
                    Error: null
      deprecated: false
  /Results:
    get:
      tags:
        - Lab Instance Management
      summary: Retrieve information about a lab instance result within a specified time range
      description: The **Results** command returns information about all lab instance results that started or ended within a specified time range. The time range cannot exceed 7 days.
      operationId: Results
      parameters:
        - name: start
          in: query
          description: The start of the timeframe to check against (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1325376000
        - name: end
          in: query
          description: The end of the timeframe to check against (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1357002000
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsResponse'
              examples:
                Example of returning information about all lab instance results that started or ended within a specified time range:
                  value:
                    Results:
                      - LabInstanceId: 349744
                        LabProfileId: 5522
                        Start: 1325376800
                        End: 1325376900
                        LastActivity: 1325376900
                        UserId: '555'
                        ClassId: null
                        CompletionStatus: 1
                        TotalRunTimeSeconds: 2548
                        TaskCompletePercent: 33
                        IsExam: false
                        ExamPassed: null
                        ExamScore: null
                        ExamMaxPossibleScore: null
                        ExamPassingScore: null
                        IpAddress: null
                        Country: null
                        Region: null
                        City: null
                        Latitude: null
                        Longitude: null
                        LabHostId: 49
                        DatacenterId: 3
                        DeliveryRegionId: 2
                      - LabInstanceId: 349745
                        LabProfileId: 5523
                        Start: 1325377000
                        End: 1325377100
                        LastActivity: 1325377100
                        UserId: '555'
                        ClassId: null
                        CompletionStatus: 1
                        TotalRunTimeSeconds: 4168
                        TaskCompletePercent: 44
                        IsExam: false
                        ExamPassed: null
                        ExamScore: null
                        ExamMaxPossibleScore: null
                        ExamPassingScore: null
                        IpAddress: null
                        Country: null
                        Region: null
                        City: null
                        Latitude: null
                        Longitude: null
                        LabHostId: 125
                        DatacenterId: 4
                        DeliveryRegionId: 3
                    Status: 1
                    Error: null
                Example when specifying a date range greater than 7 days:
                  value:
                    Error: Timeframe cannot exceed 7 days
                    Status: 0
      deprecated: false
  /save:
    get:
      tags:
        - Lab Instance Management
      summary: Save a lab instance
      description: The **Save** command allows you to save a specified lab instance.
      operationId: Save
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance to save.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 2393049
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveResponse'
              examples:
                Example of successfully saving a specified lab instance:
                  value:
                    Result: 1
                    Expires: 1337977153
                    Status: 1
                    Error: null
      deprecated: false
  /resume:
    get:
      tags:
        - Lab Instance Management
      summary: Resume a lab instance from a saved state
      description: The **Resume** command allows you to resume a specified lab instance.
      operationId: Resume
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance to resume.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 2393049
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeResponse'
              examples:
                Example of resuming a lab with a specific lab instance:
                  value:
                    Result: 1
                    Url: 'https://labondemand.com/console/setup/1b4909d6-0dbe-43db-9ab9-74ee4f913c4e'
                    Expires: 1337977153
                    LabProfileId: 18100
                    Status: 1
                    Error: null
      deprecated: false
  /scoreactivities:
    get:
      tags:
        - Lab Instance Management
      summary: Initiate scoring in a lab instance
      description: |-
        The **ScoreActivities** command causes all scored activities in a particular lab instance to undergo scoring. Please note that this is API command is only necessary in specialized situations. In most cases, scoring is triggered by the student in the lab client and this command is not needed. However, if your students do not use our lab client, ScoreActivities provides a mechanism to trigger scoring.

        This command does not return scoring results. To obtain scoring  results, use the **Details** command.
      operationId: ScoreActivities
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 12186142
        - name: rescoreAll
          in: query
          description: The ID of the lab instance.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12186142
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreActivitiesResponse'
              examples:
                Example successful response:
                  value:
                    Status: 1
                    Error: null
      deprecated: false
  /sendnotification:
    post:
      tags:
        - Lab Instance Management
      summary: Send a notification to a lab instance
      description: 'The **SendNotification** command allows you to send a notification to a specified lab instance for the user to see.  For notifications sent using the POST HTTP verb, the notification text is limited to 4000 characters.'
      operationId: SendNotification-post
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance to send the notification to.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 2393048
        - name: notification
          in: query
          description: 'The text of the notification to send. Please ensure the message is properly encoded. Line breaks can be included using \n. For notifications sent using the POST HTTP verb, the notification text is limited to 4000 characters.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: I'd+like+to+let+you+know
        - name: name
          in: query
          description: 'An optional name for the notification. If you name the notification, subsequent SendNotification commands using the same labInstanceId and name will cause the existing notification to be updated. It is also possible to delete a named notification by sending the name along with no notification value.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Hello
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendNotificationResponse'
              examples:
                Example of successfully sending a notification:
                  value:
                    Id: 28297
                    Result: 1
                    Status: 1
                    Error: null
      deprecated: false
    get:
      tags:
        - Lab Instance Management
      summary: Send a notification to a lab instance
      description: 'The **SendNotification** command allows you to send a notification to a specified lab instance for the user to see.  For notifications sent using the GET HTTP verb, the notification text is limited to 800 characters. '
      operationId: SendNotification-get
      parameters:
        - name: labinstanceid
          in: query
          description: The ID of the lab instance to send the notification to.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 2393048
        - name: notification
          in: query
          description: 'The text of the notification to send. Please ensure the message is properly encoded. Line breaks can be included using \n. For notifications sent using the GET HTTP verb, the notification text is limited to 800 characters.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: I'd+like+to+let+you+know
        - name: name
          in: query
          description: 'An optional name for the notification. If you name the notification, subsequent SendNotification commands using the same labInstanceId and name will cause the existing notification to be updated. It is also possible to delete a named notification by sending the name along with no notification value.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Hello
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendNotificationResponse'
              examples:
                Example of successfully sending a notification:
                  value:
                    Id: 28297
                    Result: 1
                    Status: 1
                    Error: null
      deprecated: false
  /replacementtokens:
    get:
      tags:
        - Lab Instance Management
      summary: Retrieve replacement tokens from a lab instance
      description: The **ReplacementTokens** command retrieves all @lab replacement tokens available for a particular lab instance.
      operationId: ReplacementTokens
      parameters:
        - name: labInstanceId
          in: query
          description: The ID of the lab instance.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1286841
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplacementTokensResponse'
              examples:
                Example of retrieving all @lab replacement tokens available for a particular lab instance:
                  value:
                    ReplacementTokens:
                      - Token: '@lab.VirtualMachine(machine1).Username'
                        Replacement: user1
                      - Token: '@lab.VirtualMachine(machine1).Password'
                        Replacement: h&4Fa?)C3/eQ;)?E
                      - Token: '@lab.VirtualMachine(machine2).Username'
                        Replacement: user1
                      - Token: '@lab.VirtualMachine(machine2).Password'
                        Replacement: LXM(#(Z^Hw4Upp>f
                      - Token: '@lab.LabInstance.Id'
                        Replacement: '15167595'
                      - Token: '@lab.LabInstance.GlobalId'
                        Replacement: lod15167595
                      - Token: '@lab.LabInstance.StartDate'
                        Replacement: '20190809'
                      - Token: '@lab.LabProfile.Id'
                        Replacement: '1581178'
                      - Token: '@lab.User.Id'
                        Replacement: '11832814'
                      - Token: '@lab.User.FirstName'
                        Replacement: 'John '
                      - Token: '@lab.User.LastName'
                        Replacement: Doe
                      - Token: '@lab.User.Email'
                        Replacement: john.doe@sample.net
                    Error: null
                    Status: 1
      deprecated: false
  /LatestResults:
    get:
      tags:
        - Lab Instance Management
      summary: Returns information about all lab instance results that have recently started or ended
      description: The **LatestResults** command returns information about all lab instance results that have recently changed state.
      operationId: LatestResults
      parameters:
        - name: minutes
          in: query
          description: 'Lab instances that have changed state within this many minutes of the current time will be included. This value cannot exceed 10,080 (7 days)'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 60
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestResultsResponse'
              examples:
                Example response returning information about all lab instance results that have recently changed state:
                  value:
                    Results:
                      - LabInstanceId: 349744
                        LabProfileId: 5522
                        Start: 1325376800
                        End: 1325376900
                        LastActivity: 1325376899
                        UserId: '555'
                        ClassId: null
                        CompletionStatus: 1
                        TotalRunTimeSeconds: 2548
                        TaskCompletePercent: 33
                        IsExam: false
                        ExamPassed: null
                        ExamScore: null
                        ExamMaxPossibleScore: null
                        ExamPassingScore: null
                        IpAddress: null
                        Country: null
                        Region: null
                        City: null
                        Latitude: null
                        Longitude: null
                        LabHostId: 49
                        DatacenterId: 3
                        DeliveryRegionId: 2
                      - LabInstanceId: 349745
                        LabProfileId: 5523
                        Start: 1325377000
                        End: 1325377100
                        LastActivity: 1325377099
                        UserId: '555'
                        ClassId: null
                        CompletionStatus: 1
                        TotalRunTimeSeconds: 4168
                        TaskCompletePercent: 44
                        IsExam: false
                        ExamPassed: null
                        ExamScore: null
                        ExamMaxPossibleScore: null
                        ExamPassingScore: null
                        IpAddress: null
                        Country: null
                        Region: null
                        City: null
                        Latitude: null
                        Longitude: null
                        LabHostId: 125
                        DatacenterId: 4
                        DeliveryRegionId: 3
                    Status: 1
                    Error: null
      deprecated: false
  /runningandsavedlabs:
    get:
      tags:
        - Lab Instance Management
      summary: Retrieves running and saved lab instances available to this API consumer
      description: |-
        The **RunningAndSavedLabs** command retrieves all lab instances launched by this API Consumer that are currently running or saved.  
         **NOTE**: there are no query parameters for this command.
      operationId: RunningAndSavedLabs
      parameters: []
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunningAndSavedLabsResponse'
              examples:
                Example of retrieving all lab instances launched by this API Consumer that are currently running or saved:
                  value:
                    RunningLabs:
                      - Id: 3497
                        UserId: '5843'
                        UserFirstName: John
                        UserLastName: Doe
                        LabProfileId: 5
                        LabProfileName: Demo Lab 1
                        LabProfileNumber: LAB001
                        Start: 1338223121
                        Expires: 1338244721
                        IsExam: false
                    SavedLabs:
                      - Id: 3493
                        UserId: '5158'
                        UserFirstName: Sally
                        UserLastName: Smith
                        LabProfileId: 1
                        LabProfileName: Demo Lab 2
                        LabProfileNumber: LAB002
                        Start: 1337987655
                        Expires: 1338592455
                        IsExam: false
                    Status: 1
                    Error: null
      deprecated: false
  /stats:
    get:
      tags:
        - Lab Instance Management
      summary: Returns statistics about how many labs are currently active and saved
      description: |-
        The **Stats** command returns statistics about how many labs are currently active and saved.  
         **NOTE**: there are no query parameters for this command.
      operationId: Stats
      parameters: []
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
              examples:
                Example of returning statistics about how many labs are currently active and saved:
                  value:
                    NumActive: 571
                    NumSaved: 451
                    Status: 1
                    Error: null
      deprecated: false
  /GetEvaluationResponses:
    get:
      tags:
        - Lab Instance Management
      summary: Returns evaluation data for a specific evaluation
      description: The **GetEvaluationResponses** command returns evaluation responses.
      operationId: GetEvaluationResponses
      parameters:
        - name: id
          in: query
          description: The unique identifier of the evaluation.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345
        - name: takenAfter
          in: query
          description: The date/time (in Unix epoch time) that the evaluation response is after.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1598292299
        - name: takenBefore
          in: query
          description: The date/time (in Unix epoch time) that the evaluation response is after.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1598465099
        - name: classId
          in: query
          description: The unique identifier of the class the evaluation was taken in.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1223334444
        - name: eventId
          in: query
          description: The unique identifier of the event the evaluation was taken in.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 24
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEvaluationResponsesResponse'
              examples:
                Example of a response for an evaluation:
                  value:
                    Responses:
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Multiple Choice, Multiple Answers'
                        Label: ''
                        A1DText: Answer 2
                        A1DWeight: 0
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, One Answer Per Row'
                        Label: ''
                        A1DText: Row 1
                        A1DWeight: 0
                        A2DText: Column 2
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, One Answer Per Row'
                        Label: ''
                        A1DText: Row 2
                        A1DWeight: 0
                        A2DText: Column 2
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, One Answer Per Row'
                        Label: ''
                        A1DText: Row 3
                        A1DWeight: 0
                        A2DText: Column 2
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, Multiple Answers Per Row'
                        Label: ''
                        A1DText: Row 1
                        A1DWeight: 0
                        A2DText: Column 1
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, Multiple Answers Per Row'
                        Label: ''
                        A1DText: Row 3
                        A1DWeight: 0
                        A2DText: Column 3
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: Single Textbox
                        Label: ''
                        A1DText: null
                        A1DWeight: null
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: Just answer 2
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: Multiple Textboxs
                        Label: ''
                        A1DText: Textbox 1
                        A1DWeight: 0
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: Textboxes 2 and 3 are blank.
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: Multiple Textboxs
                        Label: ''
                        A1DText: Textbox 2
                        A1DWeight: 0
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: This is answer 2
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: Multiple Textboxs
                        Label: ''
                        A1DText: Textbox 1
                        A1DWeight: 0
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: This is answer 1
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: Single Textbox
                        Label: ''
                        A1DText: null
                        A1DWeight: null
                        A2DText: null
                        A2DWeight: null
                        TextAnswer: I answered 1 and 2
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, Multiple Answers Per Row'
                        Label: ''
                        A1DText: Row 3
                        A1DWeight: 0
                        A2DText: Column 3
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        QuestionText: 'Matrix, Multiple Answers Per Row'
                        Label: ''
                        A1DText: Row 3
                        A1DWeight: 0
                        A2DText: Column 1
                        A2DWeight: 0
                        TextAnswer: null
                      - Number: Sample0101
                        Name: Sample Lab 0101
                        Tag: null
                        Start: 1333267200
                        End: 1333299600
                        Label: ''
                        QuestionText: 'Matrix, Multiple Answers Per Row'
                        A1DText: Row 2
                        A1DWeight: 0
                        A2DText: Column 3
                        A2DWeight: 0
                        TextAnswer: null
                    Error: null
                    Status: 1
      deprecated: false
  /labprofile:
    get:
      summary: Retrieves information about a specified lab profile
      description: The **LabProfile** command will return information about a specific lab profile.
      operationId: LabProfile
      parameters:
        - name: id
          in: query
          description: The unique identifier of the lab profile.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 77457
      responses:
        '200':
          description: OK Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabProfileResponse'
              examples:
                Example of returning information a specific lab profile:
                  value:
                    Id: 1
                    Name: Demo Lab 1
                    Number: ' Module 1'
                    PlatformId: 2
                    CloudPlatformId: null
                    SeriesId: 1
                    Enabled: true
                    ReasonDisabled: null
                    DevelopmentStatusId: 10
                    Description: A demo lab.
                    Objective: This is the HTML-formatted objective of the lab
                    Scenario: ' This is the HTML-formatted scenario of the lab'
                    DurationMinutes: 360
                    ExpectedDurationMinutes: 60
                    Ram: 512
                    HasIntegratedContent: true
                    ContentVersion: 2
                    IsExam: false
                    PremiumPrice: 10
                    BasicPrice: 8
                    SharedClassEnvironmentRoleId: 0
                    Status: 1
                    Error: null
                    Tags:
                      - Tag1
                      - Tag2
      deprecated: false
      tags:
        - Lab Profile Management
  /GetLabInstructions:
    get:
      summary: Returns instructions for a specific lab
      description: The **GetLabInstructions** command allows you to download the IDLx instructions of a lab as a string.
      operationId: GetLabInstructions
      parameters:
        - name: id
          in: query
          description: The ID of the lab profile that will be the source of the instructions. The profile must be owned by the organization on the API consumer.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2393048
        - name: lang
          in: query
          description: |-
            Allows you to select the language of the Instruction Set. Using this in connection with <strong>instructionsId</strong> will allow you to select a specific lab Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option will be used instead.  

              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to retrieve the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be used instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLabInstructionsResponse'
              examples:
                Example of retrieving the instructions from a lab:
                  value:
                    Instructions: '##Welcome to the world of tomorrow!'
                    Error: null
                    Status: 1
                Example when trying to retrieve instructions for a nonexistent lab profile:
                  value:
                    Error: Lab profile not found
                    Status: 0
      deprecated: false
      tags:
        - Lab Profile Management
  /GetLabInstructionsPackage:
    get:
      summary: Returns the contents of the instructions for a specific lab as a file archive
      description: |-
        The **GetLabInstructionsPackage** command allows you to download the IDLx instructions of a lab as an archived file.  

        The results are returned as a compressed format that can be exported as a .zip file when using Postman.  There is an additional Header parameter Content-Disposition that is returned which contains the name of the lab.
      operationId: GetLabInstructionsPackage
      parameters:
        - name: id
          in: query
          description: The ID of the lab profile that will be the source of the instructions. The profile must be owned by the organization on the API consumer.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2393048
        - name: lang
          in: query
          description: |-
            Allows you to select the language of the Instruction Set. Using this in connection with <strong>instructionsId</strong> will allow you to select a specific lab Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option will be used instead.  

              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to retrieve the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be used instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
      responses:
        '200':
          description: OK Response.
          headers:
            Content-Disposition:
              schema:
                type: string
              description: |-
                attachment; filename="DemoLab.zip"  

                **Note:** The filename will contain the name of the Lab Profile.
          content:
            application/zip:
              schema:
                type: object
                properties:
                  '':
                    type: string
                    description: The raw binary compressed package.
                    format: binary
      deprecated: false
      tags:
        - Lab Profile Management
  /updatelabinstructions:
    post:
      summary: Update IDLx instructions of a lab profile
      description: 'The **UpdateLabInstructions** command allows you to update the IDLx instructions of a lab. In order to support longer instructions lengths,  this method requires an HTTP POST. The Content-Type of your post should  be set to application/x-www-form-urlencoded.'
      operationId: UpdateLabInstructions
      parameters:
        - name: id
          in: query
          description: The ID of the lab profile to update.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2393048
        - name: lang
          in: query
          description: |-
            Allows you to select the language of the Instruction Set. Using this in connection with <strong>instructionsId</strong> will allow you to update a specific lab Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option will be used instead.  

              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to update the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be updated instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
        - name: instructions
          in: query
          description: The IDLx instructions. This should included in the body of the post.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Updated from the API
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLabInstructionsResponse'
              examples:
                Example of successfully updating the lab instructions:
                  value:
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - Lab Profile Management
  /updatelabinstructionspackage:
    post:
      summary: Allows you to update the IDLx instructions of a lab by uploading a ZIP archive
      description: |-
        The **UpdateLabInstructionsPackage** command allows you to update the  IDLx instructions of a lab by uploading a ZIP archive containing the instructions and any referenced files, such as images and videos.  

        **This method requires an HTTP POST**. The Content-Type of your post should be set to multipart/form-data. This is the same behavior that a browser uses to upload a file to a server. In .NET environments, the System.Net.WebClient class provides an UploadFile method that can be used. Set your content by using the body tab in postman.
      operationId: UpdateLabInstructionsPackage
      parameters:
        - name: Id
          in: query
          description: The ID of the lab profile to update.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 2393048
        - name: lang
          in: query
          description: |-
            Allows you to select the language of the Instruction Set. Using this in connection with <strong>instructionsId</strong> will allow you to select a specific lab Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option.  

              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to update the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be updated instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLabInstructionsResponse'
              examples:
                Example of successfully updating the lab instructions:
                  value:
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - Lab Profile Management
  /class:
    get:
      summary: Returns information about a class
      description: The **Class** command returns information about a class.
      operationId: Class
      parameters:
        - name: id
          in: query
          description: 'The unique identifier of the class, as represented in your organization.'
          style: form
          explode: true
          schema:
            type: string
            example: '1223334444'
          required: true
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassResponse'
              examples:
                Example of getting information about a specific class:
                  value:
                    Id: '4449999'
                    Name: Sample Class
                    Start: 1333267200
                    StartTime: /Date(1333267200000)/
                    End: 1333299600
                    EndTime: /Date(1333299600000)/
                    Expires: 1335978000
                    ExpiresTime: /Date(1335978000000)/
                    Instructor:
                      Id: '65214'
                      FirstName: Demo
                      LastName: Instructor
                    Url: null
                    MaxActiveLabInstances: 20
                    AvailableLabs:
                      - 17390
                      - 17432
                    Error: null
                    Status: 1
      deprecated: false
      tags:
        - Class Management
  /GetOrCreateClass:
    get:
      summary: 'Returns information about a class. If the class doesn’t exist, it is created'
      description: 'The **GetOrCreateClass** command returns information about a class. If the class doesn’t exist, it is created.'
      operationId: GetOrCreateClass
      parameters:
        - name: id
          in: query
          description: 'The unique identifier of the class, as represented in your organization.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '1223334444'
        - name: name
          in: query
          description: The name of the class.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Sample+Class
        - name: start
          in: query
          description: When the class starts (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1333267200
        - name: end
          in: query
          description: When the class ends (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1333299600
        - name: expires
          in: query
          description: When labs can no longer be associated with the class (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1335978000
        - name: instructorId
          in: query
          description: The ID you use to identify the class instructor in your external system.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '65214'
        - name: instructorFirstName
          in: query
          description: The first name of the class instructor.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Demo
        - name: instructorLastName
          in: query
          description: The last name of the class instructor.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Instructor
        - name: maxActiveLabInstances
          in: query
          description: 'The maximum number of active lab instances than can exist concurrently within this class context. This is optional in most situations. However, it is required for classes that host shared environments. If a shared lab is launched against a class that doesn''t have this value set, the launch will fail.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: AvailableLabs
          in: query
          description: 'An optional array of lab profile IDs. When provided, Skillable will know that these labs are available within the class. You do not need to set this value in order to launch labs against the class. This is useful when using Skillable to display a class attendance page, or when consuming shared class environments and you want the shared environment launch link to appear on the class monitor page.'
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
            uniqueItems: true
          example:
            - 17390
            - 17432
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateClassResponse'
              examples:
                Example of creating a class:
                  value:
                    Id: '4449999'
                    Name: Sample Class
                    Start: 1333267200
                    StartTime: /Date(1333267200000)/
                    End: 1333299600
                    EndTime: /Date(1333299600000)/
                    Expires: 1335978000
                    ExpiresTime: /Date(1335978000000)/
                    Instructor: null
                    Url: null
                    MaxActiveLabInstances: null
                    AvailableLabs:
                      - 17390
                      - 17432
                    Status: 1
                    Error: null
                Example of retrieving information on an existing class:
                  value:
                    Id: '4449999'
                    Name: Sample Class
                    Start: 1333267200
                    StartTime: /Date(1333267200000)/
                    End: 1333299600
                    EndTime: /Date(1333299600000)/
                    Expires: 1335978000
                    ExpiresTime: /Date(1335978000000)/
                    Instructor:
                      Id: '65214'
                      FirstName: Demo
                      LastName: Instructor
                    Url: null
                    MaxActiveLabInstances: null
                    AvailableLabs:
                      - 17390
                      - 17432
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - Class Management
  /ClassAccessUrl:
    get:
      summary: Returns a single use URL to access a class
      description: The **ClassAccessUrl** command returns a single use URL to access the  class management page.
      operationId: ClassAccessUrl
      parameters:
        - name: id
          in: query
          description: 'The unique identifier of the class, as represented in your organization.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '4449999'
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassAccessUrlResponse'
              examples:
                Example of a successful response with a valid class:
                  value:
                    Url: 'https://labondemand.com/class/access/ab1c2345-6d7b-890e-f1gh-234ij5kl6m7n'
                    Error: null
                    Status: 1
                Example of an error response when class is not found:
                  value:
                    Error: Class not found
                    Status: 0
      deprecated: false
      tags:
        - Class Management
  /LabMonitorUrl:
    get:
      summary: Returns a single use URL to monitor a lab instance
      responses:
        '200':
          description: OK Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabMonitorUrlResponse'
              examples:
                Example of successfully retrieving the URL to monitor a lab instance:
                  value:
                    Url: 'https://labondemand.com/access/ab1c2345-6d7b-890e-f1gh-234ij5kl6m7n?monitor=1'
                    Error: null
                    Status: 1
      operationId: LabMonitorUrl
      parameters:
        - schema:
            type: integer
            format: int64
          in: query
          name: labInstanceId
          description: The unique identifier of the lab instance.
          required: true
          style: form
      description: The **LabMonitorUrl** command returns a single use URL to monitor a lab instance.
      tags:
        - Class Management
  /LabAccessUrl:
    get:
      summary: Returns a single use URL is used to access a lab instance
      responses:
        '200':
          description: OK Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccessUrlResponse'
              examples:
                Example of successfully retrieving the URL for an active Lab instance.:
                  value:
                    Url: 'https://labondemand.com/access/ab1c2345-6d7b-890e-f1gh-234ij5kl6m7n'
                    Error: null
                    Status: 1
      operationId: LabAccessUrl
      description: The **LabAccessUrl** command returns a single use URL to access a lab instance.
      parameters:
        - schema:
            type: integer
            format: int64
          in: query
          name: labInstanceId
          style: form
          description: The unique identifier of the lab instance.
          required: true
        - schema:
            type: integer
            format: int32
          in: query
          name: roleId
          description: Allows you to specify the role(s) to assign to the user. You may pass multiple instances of this parameter to specify multiple roles. Roles are used for specialized integration purposes and are not needed in typical integration scenarios. Role IDs will be provided by Skillable when appropriate.
          style: form
      tags:
        - Class Management
  /updateclass:
    get:
      summary: Updates a specified class
      description: The **UpdateClass** command updates a specified class.
      operationId: UpdateClass
      parameters:
        - name: id
          in: query
          description: 'The unique identifier of the class, as represented in your organization.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '1223334444'
        - name: name
          in: query
          description: The name of the class.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Sample+Class
        - name: start
          in: query
          description: When the class starts (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1333267200
        - name: end
          in: query
          description: When the class ends (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1333299600
        - name: expires
          in: query
          description: When labs can no longer be associated with the class (in Unix epoch time).
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 1335978000
        - name: instructorFirstName
          in: query
          description: The first name of the class instructor.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Demo
        - name: instructorLastName
          in: query
          description: The last name of the class instructor.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Instructor
        - name: maxActiveLabInstances
          in: query
          description: 'The maximum number of active lab instances than can exist concurrently within this class context. This is optional in most situations. However, it is required for classes that host shared environments. If a shared lab is launched against a class that doesn''t have this value set, the launch will fail.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: AvailableLabs
          in: query
          description: 'An optional array of lab profile IDs. When provided, Skillable will know that these labs are available within the class. You do not need to set this value in order to launch labs against the class. This is useful when using Skillable to display a class attendance page, or when consuming shared class environments and you want the shared environment launch link to appear on the class monitor page.'
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
            uniqueItems: true
            example:
              - 17390
              - 16980
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateClassResponse'
              examples:
                Example of response after successfully updating information for a specified class:
                  value:
                    Success: true
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - Class Management
  /deleteclass:
    get:
      summary: Deletes a specified class
      description: The **DeleteClass** command deletes a specified class.
      operationId: DeleteClass
      parameters:
        - name: id
          in: query
          description: 'The unique identifier of the class, as represented in your organization.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '4449999'
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteClassResponse'
              examples:
                Example of successfully deleting an existing class:
                  value:
                    Success: true
                    Error: null
                    Status: 1
                Example of trying to delete a class that does not exist:
                  value:
                    Error: Class not found
                    Status: 0
      deprecated: false
      tags:
        - Class Management
  /userrunningandsavedlabs:
    get:
      summary: Retrieve all running or saved labs for a particular user account
      description: The **UserRunningAndSavedLabs** command retrieves all labs that are currently running or saved for a particular user account.
      operationId: UserRunningAndSavedLabs
      parameters:
        - name: userid
          in: query
          description: The unique identifier used to identify the user in within your organization.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '555'
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRunningAndSavedLabsResponse'
              examples:
                Example of retrieving all labs that are currently running or saved for a particular user account:
                  value:
                    RunningLabs:
                      - LabInstanceId: 3497
                        LabProfileId: 5
                        LabProfileName: Demo Lab 1
                        LabProfileNumber: LAB001
                        Start: 1338223121
                        Expires: 1338244721
                        Url: null
                        IsExam: false
                    SavedLabs:
                      - LabInstanceId: 3493
                        LabProfileId: 1
                        LabProfileName: Demo Lab 2
                        LabProfileNumber: LAB002
                        MinutesRemaining: 359
                        Saved: 1337987655
                        Expires: 1338592455
                        SaveInProgress: false
                        IsExam: false
                        SubmittedForGrading: false
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - User Management
  /CloseUserAccount:
    get:
      summary: Close a user account
      description: The **CloseUserAccount** command closes a user account and removes all  user information using an ID. This is usually a unique identifier used  by the calling system.
      operationId: CloseUserAccount
      parameters:
        - name: userId
          in: query
          description: The ID of the user to retrieve. This is usually a unique identifier used by the calling system.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '555'
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseUserAccountResponse'
              examples:
                Example of successfully closing out a user account:
                  value:
                    Status: 1
                    Error: null
                    RowsAffected: 25
                Example response when the user does not exist and no rows are affected:
                  value:
                    RowsAffected: 0
                    Error: null
                    Status: 1
      deprecated: false
      tags:
        - User Management
  /LaunchForEvent:
    get:
      summary: Launches a specified lab within an event
      description: The **LaunchForEvent** command launches a lab instance within an event.
      operationId: LaunchforEvent
      parameters:
        - name: labId
          in: query
          description: The ID of the lab profile.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 100
        - name: eventId
          in: query
          description: The ID of the event the lab is part of.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 24
        - name: userid
          in: query
          description: The ID you use to identify the user in your external system.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '555'
        - name: firstname
          in: query
          description: The user’s first name.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Joe
        - name: lastname
          in: query
          description: The user’s last name.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: Smith
        - name: email
          in: query
          description: The user’s email address.
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: joe.smith@email.com
        - name: classId
          in: query
          description: 'An optional parameter used to associate the lab with a class (see **GetOrCreateClass**). This is the unique identifier of the class as it is represented in your organization.   '
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '1223334444'
        - name: canBeMarkedComplete
          in: query
          description: 'An optional parameter used to specify if the lab can be marked as complete by the student. 1 = true, 2 = false. If not specified, defaults to 1 (true).'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            enum:
              - 1
              - 2
            default: 1
            example: 1
        - name: tag
          in: query
          description: An optional parameter that can be used for tagging the lab instance with your own custom data.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: eventLaunch
        - name: ipAddress
          in: query
          description: 'When specified, Skillable will attempt to launch the lab in the closest available delivery region. You should provide the IP address of the user that is taking the lab, not the IP address of your system.'
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 1.1.1.1
        - name: regionId
          in: query
          description: 'When specified, Skillable will attempt to launch the lab in  the specified delivery region if a suitable host in that region  is available and all required storage is available in that region.  Delivery regions can be found using the **DeliveryRegions** command  or **Catalog** command. Using the ipAddress parameter will result in  a more reliable geo-location of the lab for the end user.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: lang
          in: query
          description: |-
            Allows you to override the language of the Instruction Set as well as the lab client UI language. This affects lab client UI elements like menus, tabs, and dialogs. Using this in connection with <strong>instructionsId</strong> will allow you to select launching labs with a specific Instruction Set in the specified language if they have been defined within the lab profile.  
              
            NOTE: If this parameter is omitted, or if the specified language is not specified on one of the Instruction sets in a lab profile, then the default language as defined in the <strong>Lab Profile &#10132; Manage Instructions Sets</strong> option.  
              
              en = English  
              es = Spanish  
              fr = French  
              de = German  
              pt = Portuguese  
              ja = Japanese  
              zh = Simplified Chinese  
              ko = Korean 
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - en
              - es
              - fr
              - de
              - pt
              - ja
              - zh
              - ko
            example: en
        - name: instructionsId
          in: query
          description: |-
            When specified, Skillable will attempt to launch the lab and present the selected instructions. If not specified, or the instruction Id could not be found, the default instructions, as defined on the Lab Profile, will be used instead. This is a string that cannot contain spaces.  

            NOTE: To be able to see how to use this parameter, add the column "<strong>API Example</strong>" in the <strong>Manage Instruction Sets</strong> feature while editing the instructions.  

          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Base-01
      responses:
        '200':
          description: OK Response.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchForEventResponse'
              examples:
                Example of a successful lab instance launch within an event:
                  value:
                    Result: 1
                    Url: 'https://labondemand.com/console/setup/1b4909d6-0dbe-43db-9ab9-74ee4f913c4e'
                    LabInstanceId: 3896477
                    Expires: 1337977153
                    Status: 1
                    Error: null
      deprecated: false
      tags:
        - Event Management
  /LaunchForEventByExternalId:
    get:
      summary: Launches a specified lab within an event using an external lab ID
[...]
