openapi: 3.0.3
info:
  title: TMS API
  description: |
    # Introduction | TMS API
    The Skillable LOD API is structured around REST. "TMS" stands for "Training Management System", our core platform for manage your users, scheduling training to consume content. Additionally, this API enables access to the data reflecting each user’s activity and performance for each course launched or class attended.

    If you're looking to integrate with Skillable LOD, Lab on Demand, take a look at [Skillable Connect : LOD Edition](https://connect.skillable.com/lod). 

    Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.

    Skillable's TMS API provides many separate REST APIs – each for performing a specific action.

    Creating, managing user accounts.
    Obtain detailed reporting for user activity.
    Search detailed information on all course data and obtain user feedback.
    Create, update, and manage class enrollments.
    Assign course assignments and be able to query on External user ID's
    Course Subscriptions can be created and updated
    User Surveys can be exported to obtain the detailed information
    Create and update classes, assign instructors, obtain listing of classes by training key

    ## What is a RESTful API?
    "API" stands for "Application Programming Interface" – put simply, a set of rules that helps systems talk and expose/share data to one another across the Internet in a consistent way.

    "REST" stands for "Representational State Transfer" and is a standard architectural pattern describing how distributed systems can expose a consistent interface. When people use the term 'REST API', they are generally referring to an API accessed using the HTTP protocol at a predefined set of URLs.

    These URLs represent various resources — any information or content accessed at that location, which can be returned as JSON, HTML, audio files, or images. Often resources have one or more methods that can be performed on them over HTTP, like GET, POST, PUT, and DELETE. The action represented by the first and last of these is clear, but POST and PUT have specific meanings. How they are defined is confusing, but the general rule is: use POST to create resources and PUT to update resources.

    ## Authenticate with API Key
    Skillable APIs offer one form of authentication: an API Key. All methods require an API Key, which must be obtained from a Skillable team member working with your organization. Our systems use this key to validate your development account. 

    Pass your API Key as an HTTP request header with the header name "api_key".


    <SecurityDefinitions />
  termsOfService: 'https://skillable.com/terms-and-conditions/'
  contact:
    name: Skillable Support
    url: 'https://skillable.com/customer-support/'
  x-logo:
    url: 'https://raw.githubusercontent.com/LearnOnDemandSystems/ConnectAPI/main/Skillable%20Connect%20Logo.svg'
    altText: Skillable Connect
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 2.0.0
servers:
  - url: 'https://lms.learnondemand.net/api/2.0'
    description: Skillable Connect TMS API
security:
  - apiKeyHeader: []
tags:
  - name: User Management
    description: |-
      The User Management API commands are used to administer all types of user accounts within the TMS.  This includes but is not limited to the following actions:
      * Creating user accounts
      * Search for user accounts    
      * Modify user accounts    
      * Retrieve user accounts properties    
      * Query user activity    
      * Closure and deletion of user accounts
  - name: Organization Management
    description: 'Organizations within the TMS provide the ability to separate content and access between different customers. For most customers there is little need for Organization Management using the API.  However, for large content providers Organization Management can be vital. The Organization Management of the TMS allows for the query, creation, modification, and deletion of Organizations.'
  - name: Course Management
    description: 'Courses in the TMS represent a related set of learning activities that create a single learning journey.  The Course Management API commands allow for the searching of courses, which will be required when creating classes and/or subscriptions as well as being able to return any collected course feedback.'
  - name: Class Enrollment Management
    description: |-
      Classes represent an instance of a course delivered as an instructor led event.  Class enrollments define the connection of a user and the class the user will be part of.  The Class Enrollment Management API allows the following tasks to be completed:
      * Create Class Enrollments for a user
      * Update Class Enrollments for a user 
      * Search for Class Enrollments for a user
      * Delete Class Enrollments for a user
      * Retrieve specific details for Class Enrollments
  - name: Course Assignment Management
    description: |-
      Course Assignments are instances of a course being used for self-study purposes, and not connected with an Instructor or a class.  The Course Assignment Management API group of commands allows the following capabilities:  
      * Create Course Assignments for a user  
      * Update Course Assignments for a user  
      * Search for Course Assignments for a user  
      * Delete Course Assignments for a user  
      * Retrieve specific details for Course Assignments  
  - name: Searching
    description: |-
      The Searching API comand group provides commands for the following scenarios:
      * To search the TMS Course Catalog
      * Find Lab Instances (Lab Instances represent individual Lab launches against the LOD platform)
      * Search  for launched activities external to LOD e.g. Video, documents, SCORM, etc
  - name: Subscription Management
    description: |-
      Subscriptions (previously known as Clubs), are mostly used for the assignment of self-study learning.  The Subscription Management section allows the creation and management of these subscription assignmenst to users.  The functions are grouped into the areas of:  
      * Creations of Subscriptions  
      * Searching for Subscriptions   
      * Modify a Subscriptions  
      * Delete a Subscriptions 
  - name: Company Management
    description: 'Company Management allows you to register your customers as companies. The use of companies enables you to store contact information for your customers. This information can be connected to users within the TMS, then reports can return user activity from a specific company.'
  - name: Survey Management
    description: Survey Management allows the retrival of all survey responses for a specific course.
  - name: Class Management
    description: 'The Class Management group of API command allows for the creation, management and finding of scheduled classes within the Skillable TMS.  Classes can be found by using Class ID''s as well as the training key associated with a class.'
paths:
  '/GetUser/{id}':
    get:
      tags:
        - User Management
      summary: Retrieve user information by id
      description: Allows you to get information about a user (user object) with the given ID.
      operationId: GetUser
      parameters:
        - name: id
          in: path
          description: The ID of the user to retrieve
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /GetUserByEmail:
    get:
      tags:
        - User Management
      summary: Retrieve user information by email address
      description: Allows you to get information about a user with the given primary email address.
      operationId: GetUserByEmail
      parameters:
        - name: email
          in: query
          description: The primary email address of the user to retrieve.
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  '/GetUserByExternalId/{id}':
    get:
      tags:
        - User Management
      summary: Retrieve user information using an external platform id
      description: Allows you to get information about a user with the given ExternalID.  The external ID is a unique identifier from your external system.
      operationId: GetUserByExternalId
      parameters:
        - name: id
          in: path
          description: The external ID of the user to retrieve.
          required: true
          style: simple
          explode: true
          schema:
            type: string
            example: C9876ZFGEFER9876
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
      deprecated: false
  /CreateUser:
    get:
      tags:
        - User Management
      summary: Create a user
      description: Allows you to create a user.
      operationId: CreateUser
      parameters:
        - name: userName
          in: query
          description: 'The user''s username (used during sign-in). Email address can be used as long as it is unique within the system. Note: even if the user will be using an external authentication provider, the username/password properties should still be provided.'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: john.smith
        - name: password
          in: query
          description: 'The user''s password (used during sign-in). Note: even if the user will be using an external authentication provider, the username/password properties should still be provided. The user will be prompted to reset their password on the next sign in.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: email
          in: query
          description: The user's e-mail address
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: firstName
          in: query
          description: The user's first name
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: lastName
          in: query
          description: The user's last name
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: organizationId
          in: query
          description: 'The unique identifier of the organization the user belongs to. This can be the organization that corresponds to your API key, or a child organization.'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: externalId
          in: query
          description: 'The user''s external ID, usually a unique identifier from the calling system'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: middleName
          in: query
          description: The user's middle name
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: title
          in: query
          description: The user's title.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: companyId
          in: query
          description: The Id of the user's company (set only if the user belongs to a company).
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: managerId
          in: query
          description: The user Id of the user's manager (set only if the user belongs to a manager).
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: disabled
          in: query
          description: Indicates whether the user account has been disabled.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
        - name: phone
          in: query
          description: The user's phone number.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: phone2
          in: query
          description: The user's secondary phone number.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address1
          in: query
          description: First line of the user's address.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address2
          in: query
          description: Second line of the user's address
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: city
          in: query
          description: The user's city.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: state
          in: query
          description: The user's state.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: country
          in: query
          description: The user's country.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: zip
          in: query
          description: The user's zip/postal code.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: profileImageUrl
          in: query
          description: URL to the user's profile image.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: timeZoneId
          in: query
          description: |-
            The time zone for the data object. If not specified, the timezone of the organization will be used.  

            **Allowed values**  
              
            Afghanistan Standard Time  
            Alaskan Standard Time  
            Aleutian Standard Time  
            Altai Standard Time  
            Arab Standard Time  
            Arabian Standard Time  
            Arabic Standard Time  
            Argentina Standard Time  
            Astrakhan Standard Time  
            Atlantic Standard Time  
            AUS Central Standard Time  
            Aus Central W. Standard Time  
            AUS Eastern Standard Time  
            Azerbaijan Standard Time  
            Azores Standard Time  
            Bahia Standard Time  
            Bangladesh Standard Time  
            Belarus Standard Time  
            Bougainville Standard Time  
            Canada Central Standard Time  
            Cape Verde Standard Time  
            Caucasus Standard Time  
            Cen. Australia Standard Time  
            Central America Standard Time  
            Central Asia Standard Time  
            Central Brazilian Standard Time  
            Central Europe Standard Time  
            Central European Standard Time  
            Central Pacific Standard Time  
            Central Standard Time  
            Central Standard Time (Mexico)  
            Chatham Islands Standard Time  
            China Standard Time  
            Cuba Standard Time  
            Dateline Standard Time  
            E. Africa Standard Time  
            E. Australia Standard Time  
            E. Europe Standard Time  
            E. South America Standard Time  
            Easter Island Standard Time  
            Eastern Standard Time  
            Eastern Standard Time (Mexico)  
            Egypt Standard Time  
            Ekaterinburg Standard Time  
            Fiji Standard Time  
            FLE Standard Time  
            Georgian Standard Time  
            GMT Standard Time  
            Greenland Standard Time  
            Greenwich Standard Time  
            GTB Standard Time  
            Haiti Standard Time  
            Hawaiian Standard Time  
            India Standard Time  
            Iran Standard Time  
            Israel Standard Time  
            Jordan Standard Time  
            Kaliningrad Standard Time  
            Kamchatka Standard Time  
            Korea Standard Time  
            Libya Standard Time  
            Line Islands Standard Time  
            Lord Howe Standard Time  
            Magadan Standard Time  
            Magallanes Standard Time  
            Marquesas Standard Time  
            Mauritius Standard Time  
            Mid-Atlantic Standard Time  
            Middle East Standard Time  
            Montevideo Standard Time  
            Morocco Standard Time  
            Mountain Standard Time  
            Mountain Standard Time (Mexico)  
            Myanmar Standard Time  
            N. Central Asia Standard Time  
            Namibia Standard Time  
            Nepal Standard Time  
            New Zealand Standard Time  
            Newfoundland Standard Time  
            Norfolk Standard Time  
            North Asia East Standard Time  
            North Asia Standard Time  
            North Korea Standard Time  
            Omsk Standard Time  
            Pacific SA Standard Time  
            Pacific Standard Time  
            Pacific Standard Time (Mexico)  
            Pakistan Standard Time  
            Paraguay Standard Time  
            Qyzylorda Standard Time  
            Romance Standard Time  
            Russia Time Zone 10  
            Russia Time Zone 11  
            Russia Time Zone 3  
            Russian Standard Time  
            SA Eastern Standard Time  
            SA Pacific Standard Time  
            SA Western Standard Time  
            Saint Pierre Standard Time  
            Sakhalin Standard Time  
            Samoa Standard Time  
            Sao Tome Standard Time  
            Saratov Standard Time  
            SE Asia Standard Time  
            Singapore Standard Time  
            South Africa Standard Time  
            South Sudan Standard Time  
            Sri Lanka Standard Time  
            Sudan Standard Time  
            Syria Standard Time  
            Taipei Standard Time  
            Tasmania Standard Time  
            Tocantins Standard Time  
            Tokyo Standard Time  
            Tomsk Standard Time  
            Tonga Standard Time  
            Transbaikal Standard Time  
            Turkey Standard Time  
            Turks And Caicos Standard Time  
            Ulaanbaatar Standard Time  
            US Eastern Standard Time  
            US Mountain Standard Time  
            UTC  
            UTC+12  
            UTC+13  
            UTC-02  
            UTC-08  
            UTC-09  
            UTC-11  
            Venezuela Standard Time  
            Vladivostok Standard Time  
            Volgograd Standard Time  
            W. Australia Standard Time  
            W. Central Africa Standard Time  
            W. Europe Standard Time  
            W. Mongolia Standard Time  
            West Asia Standard Time  
            West Bank Standard Time  
            West Pacific Standard Time  
            Yakutsk Standard Time  
            Yukon Standard Time
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: roleId
          in: query
          description: 'An identifier for the role the user should belong to. You can provide multiple instances of this parameter to add the user to multiple roles. For example: roleId=0&roleId=2&roleId=20. You can discover roles available to your API integration by using the GetUserRoles command.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: managedOrganizationId
          in: query
          description: 'An identifier for the organization the user should have management rights for. You can provide multiple instances of this parameter if the user should have management rights over multiple organizations. For example: managedOrganizationId=30&managedOrganizationId=45&managedOrganizationId=78. All managed organizations must belong to the API caller''s organization or one of its children.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: forcePasswordChange
          in: query
          description: An optional parameter to force the user to change their password on the next login
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
      deprecated: false
  '/DeleteUser/{id}':
    get:
      tags:
        - User Management
      summary: Delete a user by id
      description: Allows you to delete a user.
      operationId: DeleteUser
      parameters:
        - name: id
          in: path
          description: The user's ID
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /UpdateUser:
    get:
      tags:
        - User Management
      summary: Update a user by id
      description: Allows you to update a user
      operationId: UpdateUser
      parameters:
        - name: id
          in: query
          description: The user's ID.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 4873
        - name: userName
          in: query
          description: 'The user''s username (used during sign-in). Email address can be used as long as it is unique within the system. Note: even if the user will be using an external authentication provider, the username/password properties should still be provided.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: email
          in: query
          description: The user's e-mail address
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: firstName
          in: query
          description: The user's first name
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: lastName
          in: query
          description: The user's last name
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: organizationId
          in: query
          description: 'The unique identifier of the organization the user belongs to. This can be the organization that corresponds to your API key, or a child organization.'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: externalId
          in: query
          description: 'The user''s external ID, usually a unique identifier from the calling system'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: middleName
          in: query
          description: The user's middle name
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: title
          in: query
          description: The user's title.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: companyId
          in: query
          description: The Id of the user's company (set only if the user belongs to a company).
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: managerId
          in: query
          description: The user Id of the user's manager (set only if the user belongs to a manager).
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 12345678
        - name: disabled
          in: query
          description: Indicates whether the user account has been disabled.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: phone
          in: query
          description: The user's phone number.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: phone2
          in: query
          description: The user's secondary phone number.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address1
          in: query
          description: First line of the user's address.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: address2
          in: query
          description: Second line of the user's address
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: city
          in: query
          description: The user's city.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: state
          in: query
          description: The user's state.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: country
          in: query
          description: The user's country.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: zip
          in: query
          description: The user's zip/postal code.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: profileImageUrl
          in: query
          description: URL to the user's profile image.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: timeZoneId
          in: query
          description: |
            The user's time zone. If not specified, the timezone of the organization will be used.  

            **Allowed values**  
              
            Afghanistan Standard Time  
            Alaskan Standard Time  
            Aleutian Standard Time  
            Altai Standard Time  
            Arab Standard Time  
            Arabian Standard Time  
            Arabic Standard Time  
            Argentina Standard Time  
            Astrakhan Standard Time  
            Atlantic Standard Time  
            AUS Central Standard Time  
            Aus Central W. Standard Time  
            AUS Eastern Standard Time  
            Azerbaijan Standard Time  
            Azores Standard Time  
            Bahia Standard Time  
            Bangladesh Standard Time  
            Belarus Standard Time  
            Bougainville Standard Time  
            Canada Central Standard Time  
            Cape Verde Standard Time  
            Caucasus Standard Time  
            Cen. Australia Standard Time  
            Central America Standard Time  
            Central Asia Standard Time  
            Central Brazilian Standard Time  
            Central Europe Standard Time  
            Central European Standard Time  
            Central Pacific Standard Time  
            Central Standard Time  
            Central Standard Time (Mexico)  
            Chatham Islands Standard Time  
            China Standard Time  
            Cuba Standard Time  
            Dateline Standard Time  
            E. Africa Standard Time  
            E. Australia Standard Time  
            E. Europe Standard Time  
            E. South America Standard Time  
            Easter Island Standard Time  
            Eastern Standard Time  
            Eastern Standard Time (Mexico)  
            Egypt Standard Time  
            Ekaterinburg Standard Time  
            Fiji Standard Time  
            FLE Standard Time  
            Georgian Standard Time  
            GMT Standard Time  
            Greenland Standard Time  
            Greenwich Standard Time  
            GTB Standard Time  
            Haiti Standard Time  
            Hawaiian Standard Time  
            India Standard Time  
            Iran Standard Time  
            Israel Standard Time  
            Jordan Standard Time  
            Kaliningrad Standard Time  
            Kamchatka Standard Time  
            Korea Standard Time  
            Libya Standard Time  
            Line Islands Standard Time  
            Lord Howe Standard Time  
            Magadan Standard Time  
            Magallanes Standard Time  
            Marquesas Standard Time  
            Mauritius Standard Time  
            Mid-Atlantic Standard Time  
            Middle East Standard Time  
            Montevideo Standard Time  
            Morocco Standard Time  
            Mountain Standard Time  
            Mountain Standard Time (Mexico)  
            Myanmar Standard Time  
            N. Central Asia Standard Time  
            Namibia Standard Time  
            Nepal Standard Time  
            New Zealand Standard Time  
            Newfoundland Standard Time  
            Norfolk Standard Time  
            North Asia East Standard Time  
            North Asia Standard Time  
            North Korea Standard Time  
            Omsk Standard Time  
            Pacific SA Standard Time  
            Pacific Standard Time  
            Pacific Standard Time (Mexico)  
            Pakistan Standard Time  
            Paraguay Standard Time  
            Qyzylorda Standard Time  
            Romance Standard Time  
            Russia Time Zone 10  
            Russia Time Zone 11  
            Russia Time Zone 3  
            Russian Standard Time  
            SA Eastern Standard Time  
            SA Pacific Standard Time  
            SA Western Standard Time  
            Saint Pierre Standard Time  
            Sakhalin Standard Time  
            Samoa Standard Time  
            Sao Tome Standard Time  
            Saratov Standard Time  
            SE Asia Standard Time  
            Singapore Standard Time  
            South Africa Standard Time  
            South Sudan Standard Time  
            Sri Lanka Standard Time  
            Sudan Standard Time  
            Syria Standard Time  
            Taipei Standard Time  
            Tasmania Standard Time  
            Tocantins Standard Time  
            Tokyo Standard Time  
            Tomsk Standard Time  
            Tonga Standard Time  
            Transbaikal Standard Time  
            Turkey Standard Time  
            Turks And Caicos Standard Time  
            Ulaanbaatar Standard Time  
            US Eastern Standard Time  
            US Mountain Standard Time  
            UTC  
            UTC+12  
            UTC+13  
            UTC-02  
            UTC-08  
            UTC-09  
            UTC-11  
            Venezuela Standard Time  
            Vladivostok Standard Time  
            Volgograd Standard Time  
            W. Australia Standard Time  
            W. Central Africa Standard Time  
            W. Europe Standard Time  
            W. Mongolia Standard Time  
            West Asia Standard Time  
            West Bank Standard Time  
            West Pacific Standard Time  
            Yakutsk Standard Time  
            Yukon Standard Time  
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: forcePasswordChange
          in: query
          description: An optional parameter to force the user to change their password on the next login
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddUserToRole:
    get:
      tags:
        - User Management
      summary: Add a role to a user
      description: Allows you to add a user to a role
      operationId: AddUserToRole
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: roleId
          in: query
          description: The role ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddUserToRoles:
    get:
      tags:
        - User Management
      summary: Add roles to a user
      description: Allows you to add a user to multiple roles
      operationId: AddUserToRoles
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: roleId
          in: query
          description: 'An identifier for the role the user should belong to. You can provide multiple instances of this parameter to add the user to multiple roles. For example: roleId=0&roleId=2&roleId=20. You can discover roles available to your API integration by using the GetUserRoles command.'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /RemoveUserFromRole:
    get:
      tags:
        - User Management
      summary: Remove a user's role
      description: Allows you remove a user from a role
      operationId: RemoveUserFromRole
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: roleId
          in: query
          description: The role ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /AddOrganizationManagementToUser:
    get:
      tags:
        - User Management
      summary: Assign a user organization management
      description: Allows you to assign management rights over an organization to a single user
      operationId: AddOrganizationManagementToUser
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: organizationId
          in: query
          description: The organization ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /RemoveOrganizationManagementFromUser:
    get:
      tags:
        - User Management
      summary: Remove a user's organization management
      description: Allows you remove management rights over an organization from a single user
      operationId: RemoveOrganizationManagementFromUser
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: organizationId
          in: query
          description: The organization ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /UpdateUserPassword:
    get:
      tags:
        - User Management
      summary: Update a user's password
      description: Allows you to update a user's password.
      operationId: UpdateUserPassword
      parameters:
        - name: id
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: password
          in: query
          description: The new password
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: forcePasswordChange
          in: query
          description: An optional parameter to force the user to change their password on the next login
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  /GetSsoRedirectUrl:
    get:
      tags:
        - User Management
      summary: Retrieve SSO redirect into the TMS
      description: 'Allows you to retrieve a URL for redirecting a user into the the TMS for single sign-on. This allows you to land the student in the TMS without them having to login. Note: the URL is valid for only 20 seconds. The intention is for you to obtain the URL on demand when the user is to be redirected into the TMS from your system.'
      operationId: GetSsoRedirectUrl
      parameters:
        - name: userId
          in: query
          description: The user's ID
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: destinationUrl
          in: query
          description: 'An optional URL that you want the user to land on within the LMS. For instance, if you wanted to land the user on the class schedule, you could pass a value of "/Class/Schedule." Use of this feature requires some knowledge of the LMS URL schema. In general, you can figure out how URLs work by observing them while navigating within the TMS.'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoRedirectUrlReponse'
      deprecated: false
  /SearchSignInHistory:
    get:
      tags:
        - User Management
      summary: Retrieve user sign-in history
      description: Allows you to search for user sign in dates and times.
      operationId: SearchSignInHistory
      parameters:
        - name: pageIndex
          in: query
          description: 'A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: pageSize
          in: query
          description: 'Indicates how many results you want per page. if not supplied, a default value of 100 is used.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: sort
          in: query
          description: 'The value you want to sort by. If not supplied, a default value of "SignIn DESC" will be assumed. You can append "DESC" after the sort value to sort descending. For example, "SignIn DESC" would sort by sign-in time in descending order. Possible values: - SignIn - LastName - FirstName - UserName - Email'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: An optional parameter used to filter for sign-ins for a particular user.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: userExternalId
          in: query
          description: An optional parameter used to filter for sign-ins for a particular user using an external identifier.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 1G87491-37DE-DFG1-127A-565159915A6B
        - name: after
          in: query
          description: 'An optional parameter used to filter for sign-ins that occured after a specified date. When used in conjunction with the "before" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: before
          in: query
          description: 'An optional parameter used to filter for sign-ins that occured before a specified date. When used in conjunction with the "after" parameter, it becomes possible to filter for a given time range. This should be provided in unix epoch format, which is the number of seconds that have elapsed since midnight UTC January 1st, 1970.'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInHistorySearchHistoryResponse'
      deprecated: false
  /SearchUserActivity:
    get:
      tags:
        - User Management
      summary: Retrieve user activity
      description: Allows you to search for user activity.
      operationId: SearchUserActivity
      parameters:
        - name: pageIndex
          in: query
          description: 'A 0-based index of the paged results you wish to receive. In general, you should start with a value of zero and increment it as you need to retrieve additional results. If not supplied, a value of 0 is used (the first page of results).'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 1
        - name: pageSize
          in: query
          description: 'Indicates how many results you want per page. if not supplied, a default value of 100 is used.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 20
        - name: sort
          in: query
          description: |-
            The value you want to sort by. If not supplied, a default value of "SignIn DESC" will be assumed. You can append " DESC" after the sort value to sort descending. For example, "SignIn DESC" would sort by sign-in time in descending order. Possible values: 
            - RequestTime 
            - LastName 
            - UserName 
            - Organization
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: An optional parameter used to filter for activity for a particular user
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: userExternalId
          in: query
          description: An optional parameter used to filter for activity for a particular user using an external identifier
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: 1G87491-37DE-DFG1-127A-565159915A6B
        - name: activityAfter
          in: query
          description: An optional parameter used to filter for sign-ins that occured after a specified date
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: activityBefore
          in: query
          description: An optional parameter used to filter for sign-ins that occured before a specified date
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserActivityResponse'
      deprecated: false
  /GetActiveSystemAnnouncements:
    get:
      tags:
        - User Management
      summary: Retrieve system announcements
      description: Allows you to retreive active system announcements.
      operationId: GetActiveSystemAnnouncements
      parameters:
        - name: organizationId
          in: query
          description: The ID of the organization for which you would like to retrieve system announcements
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
            example: 4536
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementResponse'
      deprecated: false
  '/CloseUserAccountById/{id}':
    get:
      tags:
        - User Management
      summary: Close a user account by id removing personal information
      description: Allows you close a user account removing all identifying information from the system.
      operationId: CloseUserAccountById
      parameters:
        - name: id
          in: path
          description: The ID of the user to retrieve
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int64
            example: 3453
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  '/CloseUserAccountByExternalId/{id}':
    get:
      tags:
        - User Management
      summary: Close a user account by external platform id removing personal information
      description: Allows you close a user account removing all identifying information from the system by providing a unique identifier from your external system.
      operationId: CloseUserAccountByExternalId
      parameters:
        - name: id
          in: path
          description: The external ID of the user whose account is to be closed.
          required: true
          style: simple
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  '/DeleteUserDataById/{id}':
    get:
      tags:
        - User Management
      summary: Remove specific data for a user using id
      description: Allows you remove specific types of user data for a user in the system.
      operationId: DeleteUserDataById
      parameters:
        - name: id
          in: path
          description: The user's ID.
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
        - name: dataTypeId
          in: query
          description: |-
            The ID of the data type to delete. 
            - Account = 0 
            - MicrosoftCommunications = 1 
            - PaymentInstrument = 2 
            - PreciseUserLocation = 3 
            - ProductAndServicePerformance = 4 
            - ProductAndServiceUsage = 5 
            - ProfessionalAndPersonalProfile = 6 
            - PublicPersonal = 7 
            - Recruitment = 8 
            - SearchRequestsAndQuery = 9 
            - SoftwareSetupAndInventory = 10 
            - Support = 11 
            - SupportContent = 12 
            - SupportInteraction = 13 
            - WorkContracts = 14 
            - WorkplaceInteractions = 15 
            - WorkProfile = 16 
            - LicensingAndPurchase = 17 
            - LearningAndDevelopment = 18 
            - InterestsAndFavorites = 19 
            - InkingTypingAndSpeechUtterance = 20 
            - Any = 21 
            - BrowsingHistory = 22 
            - CloudServiceProvider = 23 
            - CommuteAndTravel = 24 
            - CompensationAndBenefits = 25 
            - ContentConsumption = 26 
            - Credentials = 27 
            - CustomerContact = 28 
            - WorkRecognition = 29 
            - CustomerContactList = 30 
            - DemographicInformation = 31 
            - DeviceConnectivityAndConfiguration = 32 
            - EnvironmentalSensor = 33 
            - EUII = 34 
            - FeedbackAndRatings = 35 
            - FinancialAccountingAndRecords = 36 
            - FinancialTransactions = 37 
            - FitnessAndActivity = 38 
            - CustomerContent = 39 
            - WorkTime = 40 
            - Social = 41
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  '/DeleteUserDataByExternalId/{id}':
    get:
      tags:
        - User Management
      summary: Remove specific data for a user using an external platform id
      description: Allows you remove specific types of user data for a user in the system by providing a unique identifier from your external system.
      operationId: DeleteUserDataByExternalId
      parameters:
        - name: id
          in: path
          description: The external ID of the user to have data deleted.
          required: true
          style: simple
          explode: true
          schema:
            type: string
        - name: dataTypeId
          in: query
          description: |-
            The ID of the data type to delete. 
            - Account = 0 
            - MicrosoftCommunications = 1 
            - PaymentInstrument = 2 
            - PreciseUserLocation = 3 
            - ProductAndServicePerformance = 4 
            - ProductAndServiceUsage = 5 
            - ProfessionalAndPersonalProfile = 6 
            - PublicPersonal = 7 
            - Recruitment = 8 
            - SearchRequestsAndQuery = 9 
            - SoftwareSetupAndInventory = 10 
            - Support = 11 
            - SupportContent = 12 
            - SupportInteraction = 13 
            - WorkContracts = 14 
            - WorkplaceInteractions = 15 
            - WorkProfile = 16 
            - LicensingAndPurchase = 17 
            - LearningAndDevelopment = 18 
            - InterestsAndFavorites = 19 
            - InkingTypingAndSpeechUtterance = 20 
            - Any = 21 
            - BrowsingHistory = 22 
            - CloudServiceProvider = 23 
            - CommuteAndTravel = 24 
            - CompensationAndBenefits = 25 
            - ContentConsumption = 26 
            - Credentials = 27 
            - CustomerContact = 28 
            - WorkRecognition = 29 
            - CustomerContactList = 30 
            - DemographicInformation = 31 
            - DeviceConnectivityAndConfiguration = 32 
            - EnvironmentalSensor = 33 
            - EUII = 34 
            - FeedbackAndRatings = 35 
            - FinancialAccountingAndRecords = 36 
            - FinancialTransactions = 37 
            - FitnessAndActivity = 38 
            - CustomerContent = 39 
            - WorkTime = 40 
            - Social = 41
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
      deprecated: false
  /GetUserRoles:
    get:
      tags:
        - User Management
      summary: Retrieve all assignable user roles
      description: Allows you to view all user roles available to your API integration.
      operationId: GetUserRoles
      parameters: []
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoleResponse'
      deprecated: false
  /UpdateUserCustomFieldValue:
    get:
      tags:
        - User Management
      summary: Update a custom field for a user
      description: Updates the current value of a specific custom field for a user.
      operationId: UpdateUserCustomFieldValue
      parameters:
        - name: customFieldId
          in: query
          description: The ID of the custom field for which the value will be updated.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 4873
        - name: userId
          in: query
          description: The ID of the user for which the custom field value will be updated.
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 57383
        - name: textValue
          in: query
          description: The value of a text type user custom field - Textbox and Dropdown List
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: booleanValue
          in: query
          description: The value for a boolean type user custom field - Checkbox
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: separatedListValues
          in: query
          description: A Tab separated list of all the text values for a multi-select custom field type - Checkbox List
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldValueResponse'
      deprecated: false
  '/GetOrganization/{id}':
    get:
      tags:
        - Organization Management
      summary: Retrieve organization information by id
      description: Allows you to get information about an organization.
      operationId: GetOrganization
      parameters:
        - name: id
          in: path
          description: The ID of the organization to retrieve
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      deprecated: false
  '/GetOrganizationByExternalId/{id}':
    get:
      tags:
        - Organization Management
      summary: Retrieve organization information by external platform id
      description: Allows you to get information about an organization by providing a unique identifier from your external system.
      operationId: GetOrganizationByExternalId
      parameters:
        - name: id
          in: path
          description: The external ID of the organization to retrieve.
          required: true
          style: simple
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
      deprecated: false
  /CreateOrganization:
    get:
      tags:
        - Organization Management
      summary: Create an organization
      description: Allows you to create an organization.
      operationId: CreateOrganization
      parameters:
        - name: name
          in: query
          description: The organization's name
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: externalId
          in: query
          description: 'The organization''s external ID, usually a unique identifier from the calling system'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: description
          in: query
          description: An optional description
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: parentId
          in: query
          description: 'The ID of the organization''s parent organization. If not supplied, the organization will become a direct child of the API organization.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
        - name: timeZoneId
          in: query
          description: |-
            The time zone for the data object. If not specified, the timezone of the organization will be used.  

            **Allowed values**  
              
            Afghanistan Standard Time  
            Alaskan Standard Time  
            Aleutian Standard Time  
            Altai Standard Time  
            Arab Standard Time  
            Arabian Standard Time  
            Arabic Standard Time  
            Argentina Standard Time  
            Astrakhan Standard Time  
            Atlantic Standard Time  
            AUS Central Standard Time  
            Aus Central W. Standard Time  
            AUS Eastern Standard Time  
            Azerbaijan Standard Time  
            Azores Standard Time  
            Bahia Standard Time  
            Bangladesh Standard Time  
            Belarus Standard Time  
            Bougainville Standard Time  
            Canada Central Standard Time  
            Cape Verde Standard Time  
            Caucasus Standard Time  
            Cen. Australia Standard Time  
            Central America Standard Time  
            Central Asia Standard Time  
            Central Brazilian Standard Time  
            Central Europe Standard Time  
            Central European Standard Time  
            Central Pacific Standard Time  
            Central Standard Time  
            Central Standard Time (Mexico)  
            Chatham Islands Standard Time  
            China Standard Time  
            Cuba Standard Time  
            Dateline Standard Time  
            E. Africa Standard Time  
            E. Australia Standard Time  
            E. Europe Standard Time  
            E. South America Standard Time  
            Easter Island Standard Time  
            Eastern Standard Time  
            Eastern Standard Time (Mexico)  
            Egypt Standard Time  
            Ekaterinburg Standard Time  
            Fiji Standard Time  
            FLE Standard Time  
            Georgian Standard Time  
            GMT Standard Time  
            Greenland Standard Time  
            Greenwich Standard Time  
            GTB Standard Time  
            Haiti Standard Time  
            Hawaiian Standard Time  
            India Standard Time  
            Iran Standard Time  
            Israel Standard Time  
            Jordan Standard Time  
            Kaliningrad Standard Time  
            Kamchatka Standard Time  
            Korea Standard Time  
            Libya Standard Time  
            Line Islands Standard Time  
            Lord Howe Standard Time  
            Magadan Standard Time  
            Magallanes Standard Time  
            Marquesas Standard Time  
            Mauritius Standard Time  
            Mid-Atlantic Standard Time  
            Middle East Standard Time  
            Montevideo Standard Time  
            Morocco Standard Time  
            Mountain Standard Time  
            Mountain Standard Time (Mexico)  
            Myanmar Standard Time  
            N. Central Asia Standard Time  
            Namibia Standard Time  
            Nepal Standard Time  
            New Zealand Standard Time  
            Newfoundland Standard Time  
            Norfolk Standard Time  
            North Asia East Standard Time  
            North Asia Standard Time  
            North Korea Standard Time  
            Omsk Standard Time  
            Pacific SA Standard Time  
            Pacific Standard Time  
            Pacific Standard Time (Mexico)  
            Pakistan Standard Time  
            Paraguay Standard Time  
            Qyzylorda Standard Time  
            Romance Standard Time  
            Russia Time Zone 10  
            Russia Time Zone 11  
            Russia Time Zone 3  
            Russian Standard Time  
            SA Eastern Standard Time  
            SA Pacific Standard Time  
            SA Western Standard Time  
            Saint Pierre Standard Time  
            Sakhalin Standard Time  
            Samoa Standard Time  
            Sao Tome Standard Time  
            Saratov Standard Time  
            SE Asia Standard Time  
            Singapore Standard Time  
            South Africa Standard Time  
            South Sudan Standard Time  
            Sri Lanka Standard Time  
            Sudan Standard Time  
            Syria Standard Time  
            Taipei Standard Time  
            Tasmania Standard Time  
            Tocantins Standard Time  
            Tokyo Standard Time  
            Tomsk Standard Time  
            Tonga Standard Time  
            Transbaikal Standard Time  
            Turkey Standard Time  
            Turks And Caicos Standard Time  
            Ulaanbaatar Standard Time  
            US Eastern Standard Time  
            US Mountain Standard Time  
            UTC  
            UTC+12  
            UTC+13  
            UTC-02  
            UTC-08  
            UTC-09  
            UTC-11  
            Venezuela Standard Time  
            Vladivostok Standard Time  
            Volgograd Standard Time  
            W. Australia Standard Time  
            W. Central Africa Standard Time  
            W. Europe Standard Time  
            W. Mongolia Standard Time  
            West Asia Standard Time  
            West Bank Standard Time  
            West Pacific Standard Time  
            Yakutsk Standard Time  
            Yukon Standard Time
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: culture
          in: query
          description: |-
            The default language/culture setting. This is used as a default when creating new users and events. If not specified, the culture of the parent organization will be used. 

             Allowed Values 

             
            - aa-DJ 
            - aa-ER 
            - aa-ET 
            - af-NA 
            - af-ZA 
            - agq-CM 
            - ak-GH 
            - am-ET 
            - ar-001 
            - ar-AE 
            - ar-BH 
            - ar-DJ 
            - ar-DZ 
            - ar-EG 
            - ar-ER 
            - ar-IL 
            - ar-IQ 
            - ar-JO 
            - ar-KM 
            - ar-KW 
            - ar-LB 
            - ar-LY 
            - ar-MA 
            - ar-MR 
            - arn-CL 
            - ar-OM 
            - ar-PS 
            - ar-QA 
            - ar-SA 
            - ar-SD 
            - ar-SO 
            - ar-SS 
            - ar-SY 
            - ar-TD 
            - ar-TN 
            - ar-YE 
            - asa-TZ 
            - as-IN 
            - ast-ES 
            - az-Cyrl-AZ 
            - az-Latn-AZ 
            - ba-RU 
            - bas-CM 
            - be-BY 
            - bem-ZM 
            - bez-TZ 
            - bg-BG 
            - bin-NG 
            - bm-Latn-ML 
            - bn-BD 
            - bn-IN 
            - bo-CN 
            - bo-IN 
            - br-FR 
            - brx-IN 
            - bs-Cyrl-BA 
            - bs-Latn-BA 
            - byn-ER 
            - ca-AD 
            - ca-ES 
            - ca-ES-valencia 
            - ca-FR 
            - ca-IT 
            - ce-RU 
            - cgg-UG 
            - chr-Cher-US 
            - co-FR 
            - cs-CZ 
            - cu-RU 
            - cy-GB 
            - da-DK 
            - da-GL 
            - dav-KE 
            - de-AT 
            - de-BE 
            - de-CH 
            - de-DE 
            - de-LI 
            - de-LU 
            - dje-NE 
            - dsb-DE 
            - dua-CM 
            - dv-MV 
            - dyo-SN 
            - dz-BT 
            - ebu-KE 
            - ee-GH 
            - ee-TG 
            - el-CY 
            - el-GR 
            - en-001 
            - en-029 
            - en-150 
            - en-AG 
            - en-AI 
            - en-AS 
            - en-AT 
            - en-AU 
            - en-BB 
            - en-BE 
            - en-BI 
            - en-BM 
            - en-BS 
            - en-BW 
            - en-BZ 
            - en-CA 
            - en-CC 
            - en-CH 
            - en-CK 
            - en-CM 
            - en-CX 
            - en-CY 
            - en-DE 
            - en-DK 
            - en-DM 
            - en-ER 
            - en-FI 
            - en-FJ 
            - en-FK 
            - en-FM 
            - en-GB 
            - en-GD 
            - en-GG 
            - en-GH 
            - en-GI 
            - en-GM 
            - en-GU 
            - en-GY 
            - en-HK 
            - en-ID 
            - en-IE 
            - en-IL 
            - en-IM 
            - en-IN 
            - en-IO 
            - en-JE 
            - en-JM 
            - en-KE 
            - en-KI 
            - en-KN 
            - en-KY 
            - en-LC 
            - en-LR 
            - en-LS 
            - en-MG 
            - en-MH 
            - en-MO 
            - en-MP 
            - en-MS 
            - en-MT 
            - en-MU 
            - en-MW 
            - en-MY 
            - en-NA 
            - en-NF 
            - en-NG 
            - en-NL 
            - en-NR 
            - en-NU 
            - en-NZ 
            - en-PG 
            - en-PH 
            - en-PK 
            - en-PN 
            - en-PR 
            - en-PW 
            - en-RW 
            - en-SB 
            - en-SC 
            - en-SD 
            - en-SE 
            - en-SG 
            - en-SH 
            - en-SI 
            - en-SL 
            - en-SS 
            - en-SX 
            - en-SZ 
            - en-TC 
            - en-TK 
            - en-TO 
            - en-TT 
            - en-TV 
            - en-TZ 
            - en-UG 
            - en-UM 
            - en-US 
            - en-VC 
            - en-VG 
            - en-VI 
            - en-VU 
            - en-WS 
            - en-ZA 
            - en-ZM 
            - en-ZW 
            - eo-001 
            - es-419 
            - es-AR 
            - es-BO 
            - es-CL 
            - es-CO 
            - es-CR 
            - es-CU 
            - es-DO 
            - es-EC 
            - es-ES 
            - es-GQ 
            - es-GT 
            - es-HN 
            - es-MX 
            - es-NI 
            - es-PA 
            - es-PE 
            - es-PH 
            - es-PR 
            - es-PY 
            - es-SV 
            - es-US 
            - es-UY 
            - es-VE 
            - et-EE 
            - eu-ES 
            - ewo-CM 
            - fa-IR 
            - ff-CM 
            - ff-GN 
            - ff-Latn-SN 
            - ff-MR 
            - ff-NG 
            - fi-FI 
            - fil-PH 
            - fo-DK 
            - fo-FO 
            - fr-029 
            - fr-BE 
            - fr-BF 
            - fr-BI 
            - fr-BJ 
            - fr-BL 
            - fr-CA 
            - fr-CD 
            - fr-CF 
            - fr-CG 
            - fr-CH 
            - fr-CI 
            - fr-CM 
            - fr-DJ 
            - fr-DZ 
            - fr-FR 
            - fr-GA 
            - fr-GF 
            - fr-GN 
            - fr-GP 
            - fr-GQ 
            - fr-HT 
            - fr-KM 
            - fr-LU 
            - fr-MA 
            - fr-MC 
            - fr-MF 
            - fr-MG 
            - fr-ML 
            - fr-MQ 
            - fr-MR 
            - fr-MU 
            - fr-NC 
            - fr-NE 
            - fr-PF 
            - fr-PM 
            - fr-RE 
            - fr-RW 
            - fr-SC 
            - fr-SN 
            - fr-SY 
            - fr-TD 
            - fr-TG 
            - fr-TN 
            - fr-VU 
            - fr-WF 
            - fr-YT 
            - fur-IT 
            - fy-NL 
            - ga-IE 
            - gd-GB 
            - gl-ES 
            - gn-PY 
            - gsw-CH 
            - gsw-FR 
            - gsw-LI 
            - gu-IN 
            - guz-KE 
            - gv-IM 
            - ha-Latn-GH 
            - ha-Latn-NE 
            - ha-Latn-NG 
            - haw-US 
            - he-IL 
            - hi-IN 
            - hr-BA 
            - hr-HR 
            - hsb-DE 
            - hu-HU 
            - hy-AM 
            - ia-001 
            - ia-FR 
            - ibb-NG 
            - id-ID 
            - ig-NG 
            - ii-CN 
            - is-IS 
            - it-CH 
            - it-IT 
            - it-SM 
            - iu-Cans-CA 
            - iu-Latn-CA 
            - ja-JP 
            - jgo-CM 
            - jmc-TZ 
            - jv-Java-ID 
            - jv-Latn-ID 
            - kab-DZ 
            - ka-GE 
            - kam-KE 
            - kde-TZ 
            - kea-CV 
            - khq-ML 
            - ki-KE 
            - kkj-CM 
            - kk-KZ 
            - kl-GL 
            - kln-KE 
            - km-KH 
            - kn-IN 
            - kok-IN 
            - ko-KP 
            - ko-KR 
            - kr-NG 
            - ks-Arab-IN 
            - ksb-TZ 
            - ks-Deva-IN 
            - ksf-CM 
            - ksh-DE 
            - ku-Arab-IQ 
            - ku-Arab-IR 
            - kw-GB 
            - ky-KG 
            - la-001 
            - lag-TZ 
            - lb-LU 
            - lg-UG 
            - lkt-US 
            - ln-AO 
            - ln-CD 
            - ln-CF 
            - ln-CG 
            - lo-LA 
            - lrc-IQ 
            - lrc-IR 
            - lt-LT 
            - lu-CD 
            - luo-KE 
            - luy-KE 
            - lv-LV 
            - mas-KE 
            - mas-TZ 
            - mer-KE 
            - mfe-MU 
            - mgh-MZ 
            - mg-MG 
            - mgo-CM 
            - mi-NZ 
            - mk-MK 
            - ml-IN 
            - mni-IN 
            - mn-MN 
            - mn-Mong-CN 
            - mn-Mong-MN 
            - moh-CA 
            - mr-IN 
            - ms-BN 
            - ms-MY 
            - ms-SG 
            - mt-MT 
            - mua-CM 
            - my-MM 
            - mzn-IR 
            - naq-NA 
            - nb-NO 
            - nb-SJ 
            - nd-ZW 
            - ne-IN 
            - ne-NP 
            - nl-AW 
            - nl-BE 
            - nl-BQ 
            - nl-CW 
            - nl-NL 
            - nl-SR 
            - nl-SX 
            - nmg-CM 
            - nnh-CM 
            - nn-NO 
            - nqo-GN 
            - nr-ZA 
            - nso-ZA 
            - nus-SS 
            - nyn-UG 
            - oc-FR 
            - om-ET 
            - om-KE 
            - or-IN 
            - os-GE 
            - os-RU 
            - pa-Arab-PK 
            - pa-IN 
            - pap-029 
            - pl-PL 
            - prg-001 
            - prs-AF 
            - ps-AF 
            - pt-AO 
            - pt-BR 
            - pt-CV 
            - pt-GW 
            - pt-MO 
            - pt-MZ 
            - pt-PT 
            - pt-ST 
            - pt-TL 
            - quc-Latn-GT 
            - quz-BO 
            - quz-EC 
            - quz-PE 
            - rm-CH 
            - rn-BI 
            - rof-TZ 
            - ro-MD 
            - ro-RO 
            - ru-BY 
            - ru-KG 
            - ru-KZ 
            - ru-MD 
            - ru-RU 
            - ru-UA 
            - rwk-TZ 
            - rw-RW 
            - sah-RU 
            - sa-IN 
            - saq-KE 
            - sbp-TZ 
            - sd-Arab-PK 
            - sd-Deva-IN 
            - se-FI 
            - seh-MZ 
            - se-NO 
            - se-SE 
            - ses-ML 
            - sg-CF 
            - shi-Latn-MA 
            - shi-Tfng-MA 
            - si-LK 
            - sk-SK 
            - sl-SI 
            - sma-NO 
            - sma-SE 
            - smj-NO 
            - smj-SE 
            - smn-FI 
            - sms-FI 
            - sn-Latn-ZW 
            - so-DJ 
            - so-ET 
            - so-KE 
            - so-SO 
            - sq-AL 
            - sq-MK 
            - sq-XK 
            - sr-Cyrl-BA 
            - sr-Cyrl-ME 
            - sr-Cyrl-RS 
            - sr-Cyrl-XK 
            - sr-Latn-BA 
            - sr-Latn-ME 
            - sr-Latn-RS 
            - sr-Latn-XK 
            - ss-SZ 
            - ssy-ER 
            - ss-ZA 
            - st-LS 
            - st-ZA 
            - sv-AX 
            - sv-FI 
            - sv-SE 
            - sw-CD 
            - sw-KE 
            - sw-TZ 
            - sw-UG 
            - syr-SY 
            - ta-IN 
            - ta-LK 
            - ta-MY 
            - ta-SG 
            - te-IN 
            - teo-KE 
            - teo-UG 
            - tg-Cyrl-TJ 
            - th-TH 
            - ti-ER 
            - ti-ET 
            - tig-ER 
            - tk-TM 
            - tn-BW 
            - tn-ZA 
            - to-TO 
            - tr-CY 
            - tr-TR 
            - ts-ZA 
            - tt-RU 
            - twq-NE 
            - tzm-Arab-MA 
            - tzm-Latn-DZ 
            - tzm-Latn-MA 
            - tzm-Tfng-MA 
            - ug-CN 
            - uk-UA 
            - ur-IN 
            - ur-PK 
            - uz-Arab-AF 
            - uz-Cyrl-UZ 
            - uz-Latn-UZ 
            - vai-Latn-LR 
            - vai-Vaii-LR 
            - ve-ZA 
            - vi-VN 
            - vo-001 
            - vun-TZ 
            - wae-CH 
            - wal-ET 
            - wo-SN 
            - xh-ZA 
            - xog-UG 
            - yav-CM 
            - yi-001 
            - yo-BJ 
            - yo-NG 
            - zgh-Tfng-MA 
            - zh-CN 
            - zh-Hans-HK 
            - zh-Hans-MO 
            - zh-HK 
            - zh-MO 
            - zh-SG 
            - zh-TW 
            - zu-ZA
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: defaultRoleId
          in: query
          description: 'An identifier for the role new users should be assigned by default. You can provide multiple instances of this parameter to specify multiple roles. For example: roleId=346&roleId=347&roleId=348. You can discover roles available to your API integration by using the GetUserRoles command. If this paramter is not supplied, the system default role will be used.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
      deprecated: false
  '/DeleteOrganization/{id}':
    get:
      tags:
        - Organization Management
      summary: Delete an organization by id
      description: Allows you to delete an organization.
      operationId: DeleteOrganization
      parameters:
        - name: id
          in: path
          description: The organization ID
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
            example: 5487
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      deprecated: false
  '/UpdateOrganization/{id}':
    get:
      tags:
        - Organization Management
      summary: Update an organization by id
      description: Allows you to update an organization.
      operationId: UpdateOrganization
      parameters:
        - name: id
          in: path
          description: The organization's ID
          required: true
          style: simple
          explode: true
          schema:
            type: integer
            format: int32
            example: 10
        - name: name
          in: query
          description: The organization's name
          required: true
          style: form
          explode: true
          schema:
            type: string
            nullable: true
        - name: externalId
          in: query
          description: 'The organization''s external ID, usually a unique identifier from the calling system'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: description
          in: query
          description: An optional description
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: parentId
          in: query
          description: 'The ID of the organization''s parent organization. If not supplied, the current parent will be used.'
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            nullable: true
            example: 7685
        - name: timeZoneId
          in: query
          description: |-
            The time zone for the data object. If not specified, the timezone of the organization will be used.  

            **Allowed values**  
              
            Afghanistan Standard Time  
            Alaskan Standard Time  
            Aleutian Standard Time  
            Altai Standard Time  
            Arab Standard Time  
            Arabian Standard Time  
            Arabic Standard Time  
            Argentina Standard Time  
            Astrakhan Standard Time  
            Atlantic Standard Time  
            AUS Central Standard Time  
            Aus Central W. Standard Time  
            AUS Eastern Standard Time  
            Azerbaijan Standard Time  
            Azores Standard Time  
            Bahia Standard Time  
            Bangladesh Standard Time  
            Belarus Standard Time  
            Bougainville Standard Time  
            Canada Central Standard Time  
            Cape Verde Standard Time  
            Caucasus Standard Time  
            Cen. Australia Standard Time  
            Central America Standard Time  
            Central Asia Standard Time  
            Central Brazilian Standard Time  
            Central Europe Standard Time  
            Central European Standard Time  
            Central Pacific Standard Time  
            Central Standard Time  
            Central Standard Time (Mexico)  
            Chatham Islands Standard Time  
            China Standard Time  
            Cuba Standard Time  
            Dateline Standard Time  
            E. Africa Standard Time  
            E. Australia Standard Time  
            E. Europe Standard Time  
            E. South America Standard Time  
            Easter Island Standard Time  
            Eastern Standard Time  
            Eastern Standard Time (Mexico)  
            Egypt Standard Time  
            Ekaterinburg Standard Time  
            Fiji Standard Time  
            FLE Standard Time  
            Georgian Standard Time  
            GMT Standard Time  
            Greenland Standard Time  
            Greenwich Standard Time  
            GTB Standard Time  
            Haiti Standard Time  
            Hawaiian Standard Time  
            India Standard Time  
            Iran Standard Time  
            Israel Standard Time  
            Jordan Standard Time  
            Kaliningrad Standard Time  
            Kamchatka Standard Time  
            Korea Standard Time  
            Libya Standard Time  
            Line Islands Standard Time  
            Lord Howe Standard Time  
            Magadan Standard Time  
            Magallanes Standard Time  
            Marquesas Standard Time  
            Mauritius Standard Time  
            Mid-Atlantic Standard Time  
            Middle East Standard Time  
            Montevideo Standard Time  
            Morocco Standard Time  
            Mountain Standard Time  
            Mountain Standard Time (Mexico)  
            Myanmar Standard Time  
            N. Central Asia Standard Time  
            Namibia Standard Time  
            Nepal Standard Time  
            New Zealand Standard Time  
            Newfoundland Standard Time  
            Norfolk Standard Time  
            North Asia East Standard Time  
            North Asia Standard Time  
            North Korea Standard Time  
            Omsk Standard Time  
            Pacific SA Standard Time  
            Pacific Standard Time  
            Pacific Standard Time (Mexico)  
            Pakistan Standard Time  
            Paraguay Standard Time  
            Qyzylorda Standard Time  
            Romance Standard Time  
            Russia Time Zone 10  
            Russia Time Zone 11  
            Russia Time Zone 3  
            Russian Standard Time  
            SA Eastern Standard Time  
            SA Pacific Standard Time  
            SA Western Standard Time  
            Saint Pierre Standard Time  
            Sakhalin Standard Time  
            Samoa Standard Time  
            Sao Tome Standard Time  
            Saratov Standard Time  
            SE Asia Standard Time  
            Singapore Standard Time  
            South Africa Standard Time  
            South Sudan Standard Time  
            Sri Lanka Standard Time  
            Sudan Standard Time  
            Syria Standard Time  
            Taipei Standard Time  
            Tasmania Standard Time  
            Tocantins Standard Time  
            Tokyo Standard Time  
            Tomsk Standard Time  
            Tonga Standard Time  
            Transbaikal Standard Time  
            Turkey Standard Time  
            Turks And Caicos Standard Time  
            Ulaanbaatar Standard Time  
            US Eastern Standard Time  
            US Mountain Standard Time  
            UTC  
            UTC+12  
            UTC+13  
            UTC-02  
            UTC-08  
            UTC-09  
            UTC-11  
            Venezuela Standard Time  
            Vladivostok Standard Time  
            Volgograd Standard Time  
            W. Australia Standard Time  
            W. Central Africa Standard Time  
            W. Europe Standard Time  
            W. Mongolia Standard Time  
            West Asia Standard Time  
            West Bank Standard Time  
            West Pacific Standard Time  
            Yakutsk Standard Time  
            Yukon Standard Time
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: culture
          in: query
          description: |-
            The default language/culture setting. This is used as a default when creating new users and events. If not specified, the culture of the parent organization will be used. 

             Allowed Values 

             
            - aa-DJ 
            - aa-ER 
            - aa-ET 
            - af-NA 
            - af-ZA 
            - agq-CM 
            - ak-GH 
            - am-ET 
            - ar-001 
            - ar-AE 
            - ar-BH 
            - ar-DJ 
            - ar-DZ 
            - ar-EG 
            - ar-ER 
            - ar-IL 
            - ar-IQ 
            - ar-JO 
            - ar-KM 
            - ar-KW 
            - ar-LB 
            - ar-LY 
            - ar-MA 
            - ar-MR 
            - arn-CL 
            - ar-OM 
            - ar-PS 
            - ar-QA 
            - ar-SA 
            - ar-SD 
            - ar-SO 
            - ar-SS 
            - ar-SY 
            - ar-TD 
            - ar-TN 
            - ar-YE 
            - asa-TZ 
            - as-IN 
            - ast-ES 
            - az-Cyrl-AZ 
            - az-Latn-AZ 
            - ba-RU 
            - bas-CM 
            - be-BY 
            - bem-ZM 
            - bez-TZ 
            - bg-BG 
            - bin-NG 
            - bm-Latn-ML 
            - bn-BD 
            - bn-IN 
            - bo-CN 
            - bo-IN 
            - br-FR 
            - brx-IN 
            - bs-Cyrl-BA 
            - bs-Latn-BA 
            - byn-ER 
            - ca-AD 
            - ca-ES 
            - ca-ES-valencia 
            - ca-FR 
            - ca-IT 
            - ce-RU 
            - cgg-UG 
            - chr-Cher-US 
            - co-FR 
            - cs-CZ 
            - cu-RU 
            - cy-GB 
            - da-DK 
            - da-GL 
            - dav-KE 
            - de-AT 
            - de-BE 
            - de-CH 
            - de-DE 
            - de-LI 
            - de-LU 
            - dje-NE 
            - dsb-DE 
            - dua-CM 
            - dv-MV 
            - dyo-SN 
            - dz-BT 
            - ebu-KE 
            - ee-GH 
            - ee-TG 
            - el-CY 
            - el-GR 
            - en-001 
            - en-029 
            - en-150 
            - en-AG 
            - en-AI 
            - en-AS 
            - en-AT 
            - en-AU 
            - en-BB 
            - en-BE 
            - en-BI 
            - en-BM 
            - en-BS 
            - en-BW 
            - en-BZ 
            - en-CA 
            - en-CC 
            - en-CH 
            - en-CK 
            - en-CM 
            - en-CX 
            - en-CY 
            - en-DE 
            - en-DK 
            - en-DM 
            - en-ER 
            - en-FI 
            - en-FJ 
            - en-FK 
            - en-FM 
            - en-GB 
            - en-GD 
            - en-GG 
            - en-GH 
            - en-GI 
            - en-GM 
            - en-GU 
            - en-GY 
            - en-HK 
            - en-ID 
            - en-IE 
            - en-IL 
            - en-IM 
            - en-IN 
            - en-IO 
            - en-JE 
            - en-JM 
            - en-KE 
            - en-KI 
            - en-KN 
            - en-KY 
            - en-LC 
            - en-LR 
            - en-LS 
            - en-MG 
            - en-MH 
            - en-MO 
            - en-MP 
            - en-MS 
            - en-MT 
            - en-MU 
            - en-MW 
            - en-MY 
            - en-NA 
            - en-NF 
            - en-NG 
            - en-NL 
            - en-NR 
            - en-NU 
            - en-NZ 
            - en-PG 
            - en-PH 
            - en-PK 
            - en-PN 
            - en-PR 
            - en-PW 
            - en-RW 
            - en-SB 
            - en-SC 
            - en-SD 
            - en-SE 
            - en-SG 
            - en-SH 
            - en-SI 
            - en-SL 
            - en-SS 
            - en-SX 
            - en-SZ 
            - en-TC 
            - en-TK 
            - en-TO 
            - en-TT 
            - en-TV 
            - en-TZ 
            - en-UG 
            - en-UM 
            - en-US 
            - en-VC 
            - en-VG 
            - en-VI 
            - en-VU 
            - en-WS 
            - en-ZA 
            - en-ZM 
            - en-ZW 
            - eo-001 
            - es-419 
            - es-AR 
            - es-BO 
            - es-CL 
            - es-CO 
            - es-CR 
            - es-CU 
            - es-DO 
            - es-EC 
            - es-ES 
            - es-GQ 
            - es-GT 
            - es-HN 
            - es-MX 
            - es-NI 
            - es-PA 
            - es-PE 
            - es-PH 
            - es-PR 
            - es-PY 
            - es-SV 
            - es-US 
            - es-UY 
            - es-VE 
            - et-EE 
            - eu-ES 
            - ewo-CM 
            - fa-IR 
            - ff-CM 
            - ff-GN 
            - ff-Latn-SN 
            - ff-MR 
            - ff-NG 
            - fi-FI 
            - fil-PH 
            - fo-DK 
            - fo-FO 
            - fr-029 
            - fr-BE 
            - fr-BF 
            - fr-BI 
            - fr-BJ 
            - fr-BL 
            - fr-CA 
            - fr-CD 
            - fr-CF 
            - fr-CG 
            - fr-CH 
            - fr-CI 
            - fr-CM 
            - fr-DJ 
            - fr-DZ 
            - fr-FR 
            - fr-GA 
            - fr-GF 
            - fr-GN 
            - fr-GP 
            - fr-GQ 
            - fr-HT 
            - fr-KM 
            - fr-LU 
            - fr-MA 
            - fr-MC 
            - fr-MF 
            - fr-MG 
            - fr-ML 
            - fr-MQ 
            - fr-MR 
            - fr-MU 
            - fr-NC 
            - fr-NE 
            - fr-PF 
            - fr-PM 
            - fr-RE 
            - fr-RW 
            - fr-SC 
            - fr-SN 
            - fr-SY 
            - fr-TD 
            - fr-TG 
            - fr-TN 
            - fr-VU 
            - fr-WF 
            - fr-YT 
            - fur-IT 
            - fy-NL 
            - ga-IE 
            - gd-GB 
            - gl-ES 
            - gn-PY 
            - gsw-CH 
            - gsw-FR 
            - gsw-LI 
            - gu-IN 
            - guz-KE 
            - gv-IM 
            - ha-Latn-GH 
            - ha-Latn-NE 
            - ha-Latn-NG 
            - haw-US 
            - he-IL 
            - hi-IN 
            - hr-BA 
            - hr-HR 
            - hsb-DE 
            - hu-HU 
            - hy-AM 
            - ia-001 
            - ia-FR 
            - ibb-NG 
            - id-ID 
            - ig-NG 
            - ii-CN 
            - is-IS 
            - it-CH 
            - it-IT 
            - it-SM 
            - iu-Cans-CA 
            - iu-Latn-CA 
            - ja-JP 
            - jgo-CM 
            - jmc-TZ 
            - jv-Java-ID 
            - jv-Latn-ID 
            - kab-DZ 
            - ka-GE 
            - kam-KE 
            - kde-TZ 
            - kea-CV 
            - khq-ML 
            - ki-KE 
            - kkj-CM 
            - kk-KZ 
            - kl-GL 
            - kln-KE 
            - km-KH 
            - kn-IN 
            - kok-IN 
            - ko-KP 
            - ko-KR 
            - kr-NG 
            - ks-Arab-IN 
            - ksb-TZ 
            - ks-Deva-IN 
            - ksf-CM 
            - ksh-DE 
            - ku-Arab-IQ 
            - ku-Arab-IR 
            - kw-GB 
            - ky-KG 
            - la-001 
            - lag-TZ 
            - lb-LU 
            - lg-UG 
            - lkt-US 
            - ln-AO 
            - ln-CD 
            - ln-CF 
            - ln-CG 
            - lo-LA 
            - lrc-IQ 
            - lrc-IR 
            - lt-LT 
            - lu-CD 
            - luo-KE 
            - luy-KE 
            - lv-LV 
            - mas-KE 
            - mas-TZ 
            - mer-KE 
            - mfe-MU 
            - mgh-MZ 
            - mg-MG 
            - mgo-CM 
            - mi-NZ 
            - mk-MK 
            - ml-IN 
            - mni-IN 
            - mn-MN 
            - mn-Mong-CN 
            - mn-Mong-MN 
            - moh-CA 
            - mr-IN 
            - ms-BN 
            - ms-MY 
            - ms-SG 
            - mt-MT 
            - mua-CM 
            - my-MM 
            - mzn-IR 
            - naq-NA 
            - nb-NO 
            - nb-SJ 
            - nd-ZW 
            - ne-IN 
            - ne-NP 
            - nl-AW 
            - nl-BE 
            - nl-BQ 
            - nl-CW 
            - nl-NL 
            - nl-SR 
            - nl-SX 
            - nmg-CM 
            - nnh-CM 
            - nn-NO 
            - nqo-GN 
            - nr-ZA 
            - nso-ZA 
            - nus-SS 
            - nyn-UG 
            - oc-FR 
            - om-ET 
            - om-KE 
            - or-IN 
            - os-GE 
            - os-RU 
            - pa-Arab-PK 
            - pa-IN 
            - pap-029 
            - pl-PL 
            - prg-001 
            - prs-AF 
            - ps-AF 
            - pt-AO 
            - pt-BR 
            - pt-CV 
            - pt-GW 
            - pt-MO 
            - pt-MZ 
            - pt-PT 
            - pt-ST 
            - pt-TL 
            - quc-Latn-GT 
            - quz-BO 
            - quz-EC 
            - quz-PE 
            - rm-CH 
            - rn-BI 
            - rof-TZ 
            - ro-MD 
            - ro-RO 
            - ru-BY 
            - ru-KG 
            - ru-KZ 
            - ru-MD 
            - ru-RU 
            - ru-UA 
            - rwk-TZ 
            - rw-RW 
            - sah-RU 
            - sa-IN 
            - saq-KE 
            - sbp-TZ 
            - sd-Arab-PK 
            - sd-Deva-IN 
            - se-FI 
            - seh-MZ 
            - se-NO 
            - se-SE 
            - ses-ML 
            - sg-CF 
            - shi-Latn-MA 
            - shi-Tfng-MA 
            - si-LK 
            - sk-SK 
            - sl-SI 
            - sma-NO 
            - sma-SE 
            - smj-NO 
            - smj-SE 
            - smn-FI 
            - sms-FI 
            - sn-Latn-ZW 
            - so-DJ 
            - so-ET 
            - so-KE 
            - so-SO 
            - sq-AL 
            - sq-MK 
            - sq-XK 
            - sr-Cyrl-BA 
            - sr-Cyrl-ME 
            - sr-Cyrl-RS 
            - sr-Cyrl-XK 
            - sr-Latn-BA 
            - sr-Latn-ME 
            - sr-Latn-RS 
            - sr-Latn-XK 
            - ss-SZ 
            - ssy-ER 
            - ss-ZA 
            - st-LS 
            - st-ZA 
            - sv-AX 
            - sv-FI 
            - sv-SE 
            - sw-CD 
            - sw-KE 
            - sw-TZ 
            - sw-UG 
            - syr-SY 
            - ta-IN 
            - ta-LK 
            - ta-MY 
            - ta-SG 
            - te-IN 
            - teo-KE 
            - teo-UG 
            - tg-Cyrl-TJ 
            - th-TH 
            - ti-ER 
            - ti-ET 
            - tig-ER 
            - tk-TM 
            - tn-BW 
            - tn-ZA 
            - to-TO 
            - tr-CY 
            - tr-TR 
            - ts-ZA 
            - tt-RU 
            - twq-NE 
            - tzm-Arab-MA 
            - tzm-Latn-DZ 
            - tzm-Latn-MA 
            - tzm-Tfng-MA 
            - ug-CN 
            - uk-UA 
[...]
